[2017-02-09 21:07] fredrikbk opened #1 "a(i) = B(i,j)*c(j) + d(i)"
[code]

[2017-02-09 23:10] fredrikbk opened #2 "regex_error on lanka"
Can't run `taco-test` on Lanka as we get a regex error. Upgrade Lanka or fix taco?

[code]

[2017-02-09 23:12] fredrikbk opened #3 "Permission issue on Lanka"
When I run `taco` on Lanka I get a permission error.

[code]

[2017-02-09 23:25] #3 closed, assigned to shoaibkamil

[2017-02-09 23:33] #2 closed, assigned to shoaibkamil

[2017-02-10 20:46] fredrikbk opened #4 "Cyclic shared_ptr in TensorPath"
The class `TensorPath` has a `shared_ptr` to a class that contains `TensorPathStep` instances. However, these instances has a copy of the `TensorPath` which creates a `shared_ptr` cycle.

[2017-02-10 20:51] fredrikbk opened #5 "Repeated use of an index variable in a tensor access"
We should support diagonal accesses:
[code]

[code]

[2017-02-10 20:53] fredrikbk opened #6 "Tensor broadcast"
[code]

[2017-02-10 20:57] fredrikbk opened #7 "a(i) = B(i,j) + c(j), where B is dense-sparse"
Segmentation fault.

backtrace:
[code]

[2017-02-10 21:03] fredrikbk opened #8 "llvm backend (online)"
We need to develop an llvm backend in the same style as Simit/Halide. This backend should support compiling the taco IR to llvm IR and then have llvm compile the llvm IR to a function pointer.

[2017-02-15 12:32] #4 closed, assigned to fredrikbk

[2017-02-15 22:15] #7 closed, assigned to nobody

[2017-02-21 16:39] fredrikbk opened #9 "Read/write test suite does not clean up temporary files"
After running the test suite the following temporary files are left in the file system
[code]
Any temporary files should be created in a temporary directory retrieved from the operating system, the same way that Shoaib's C backend works. They should also be deleted.

Perhaps a good way to do this is to have the file writers write to an ostream object? This is both more flexible for a user, and als

[2017-02-23 17:01] fredrikbk opened #10 "a(i) = b(i) * b(i)"
[code]

[2017-02-23 19:58] apurvas opened #11 "Build Failure When Spaces In Path Name"
If there's spaces in the path name building will fail.

[2017-02-23 20:01] apurvas opened #12 "No Examples Printed When Running Taco"

[2017-02-23 20:07] fredrikbk opened #13 "taco tool prints empty assembly loops when the output is dense"
It would be better if it emitted an empty function or reported that the output is dense so no need for assembly.

Perhaps we have to actually emit code to allocate memory for the dense value arrays...

[2017-02-23 20:13] apurvas opened #14 "Unclear about CMAKE Type for Release vs. Debug"
Explaining this in the readme will be useful.

[2017-02-23 20:46] ramimanna opened #16 "use einstein convention by default"
Right now, you have to declare a variable as a summation variable, e.g. `k("k", Var::Sum) `. It would be nice if that was default. Infer this from `A(i,j) = X(i,j,k) * v(k);`

[2017-02-27 20:22] Lugatod opened #17 "Eclipse C++ analysis errors"
3 errors in lower.cpp

'lower' is ambiguous '
Candidates are:
std::vector<taco::ir::Stmt,std::allocator<taco::ir::Stmt>> lower(const taco::Expr &, const taco::Var &, taco::lower::Context &)
taco::ir::Stmt lower(const taco::internal::Tensor &, std::__cxx11::basic_string<char,std::char_traits<char>,std::allocator<char>>, const std::set<enum taco::lower::Property,std::less<enum taco::lower::Property>

[2017-03-02 15:41] fredrikbk opened #18 "Scalar variable and literal parsing"
Add support for scalar literals in the parser.

[2017-03-02 15:43] fredrikbk opened #19 "Kronecker products"
Make sure we support Kronecker products of matrices and add this to the linear algebra API

[2017-03-02 16:12] #12 closed, assigned to nobody

[2017-03-02 16:16] #9 closed, assigned to nobody

[2017-03-04 22:01] stephenchouca opened #20 "MTTKRP slower with dense output than with sparse output"
Compute time of MTTKRP with dense output is approximately 10% more than with sparse output.

[2017-03-04 22:04] stephenchouca opened #21 "SpMV performance with dense-sparse matrices"
For some of the matrices in SuiteSparse Matrix Collection, SpMV performance might be improved.

[2017-03-05 23:53] fredrikbk opened #22 "Non-templated Tensor"
The `Tensor` class should allow non-templated usage, e.g. `Tensor A(taco::Double, {2,3}, csr);`. This because we don't need template code for compute, only for insertion.

With this API we might be able to deprecate internal::Tensor, which would clean up our code.

[2017-03-06 01:01] fredrikbk opened #23 "Header file taco.h"
The taco build system should make a `taco.h` header file that contains all the files that are needed by the user (e.g. `tensor.h`, `format.h`, `operator.h`, `expr.h`, `var.h`).

One option is to write a small utility to do this along the lines of Halide's `build_halide_h` that also removes `#include` lines.

[2017-03-06 01:10] fredrikbk opened #24 "Integers with `Tensor::operator()`"
We would be able to use integers to index into `Tensor::operator()`. Ideally `A(0,1)` reads coordinate (0,1) and `A(0,i)` is an index expression that holds the first dimension fixed. (This might not work out; needs to be explored.)

So in addition to writing index expressions you can also use integers (and eventually a mix):
[code]

[2017-03-06 15:13] fredrikbk opened #25 "Repeated use of tensors in an index expression fails in the backend"
[code]

[2017-03-06 15:14] fredrikbk opened #26 "Repeated use of an index variable in a tensor access"
[code]

[2017-03-06 15:14] #25 closed, assigned to nobody

[2017-03-08 19:32] stephenchouca opened #27 "a(i) = b(i) + c(i), where b is sparse"
Generated code is incorrect as it adds `c` to `a` twice (`taco "a(i) = b(i) + c(i)" -f=b:s`):
[code]

[2017-03-08 19:33] stephenchouca opened #28 "taco "a(i) = b(i) + c(i)" -f=b:s -f=a:s"
Generated code is incorrect as `a1_ptr` is not reset to zero after first loop and before second loop, so can potentially go out of bounds of `a.vals`:
[code]

[2017-03-08 21:44] stephenchouca opened #29 "Values array zero-initialization"
Currently values array is zero-initialized as part of the assembly step. This can be incorrect if compute is run multiple times without redoing assembly. Instead, zero-initialization should be done as part of the compute step.

[2017-03-08 22:29] fredrikbk opened #30 "Want the ability to print merge lattices"
If the taco tool could print merge lattices that would help development.

[2017-03-10 15:36] #30 closed, assigned to nobody

[2017-03-10 16:51] fredrikbk opened #31 "Additional element-wise operations"
Maybe we can provide an operation and whether it is disjunctive or conjunctive.

Equality testing between two tensors
Powers of every element of one tensor

[2017-03-11 16:23] #28 closed, assigned to fredrikbk

[2017-03-11 16:53] #11 closed, assigned to nobody

[2017-03-11 17:55] #22 closed, assigned to nobody

[2017-03-11 22:04] fredrikbk opened #32 "Compute code emission incorrect"
We need proper compute code emission at and below the last free variable. The current compute code emission scheme emits code into the wrong loop causing excessive computation. In the code below the value `a(i)` is added in too many times.
[code]
It should be something like this:
[code]

This means implementing all three cases of compute code emission (above, at, and below the last free variable).

[2017-03-13 21:17] #23 closed, assigned to nobody

[2017-03-15 13:43] Lugatod opened #33 "License and comments for taco-tool"
Generate a license-comment for each use of taco-tool, probably something short referring to the MIT license and the taco url.
The taco-tool could also have an option "-nolicense" to hide this comment.

[2017-03-16 14:03] fredrikbk opened #34 "User-defined dimension set relationships"
It could be useful to let the user specify set relationships between non-dense dimensions. This means specifying whether two sparse dimensions are the same set, or whether one is a subset (non-strict) of the other.

We use such properties to optimize, but at the moment we only do these optimizations for dense dimensions (same sets) and dense-sparse dimensions (superset/subset relationship).

[2017-03-18 21:50] #27 closed, assigned to fredrikbk

[2017-03-18 22:34] stephenchouca opened #35 "A(i,j) = B(k,l,i) * D(l,j) * C(k,j)"
taco computes incorrect answer when `B` is a sparse tensor with dimension order (1, 2, 0), but gets correct output when dimension order is (2, 1, 0). See `mttkrp3` in `parafac-tests.cpp` for an example.

[2017-03-19 15:21] fredrikbk opened #36 "Support adding tensor of different orders"
What is the most reasonable semantics for `a(i) = b(i) + c`? Does it mean:

1. that we add `c` to every non-zero component in `b`, or
2. that we add `c` to every component in `b`?

This is the same question as what is the most reasonable semantics for `A(i,j) = B(i,j) + c(i)`.

If it is the latter, we need to stop handling scalars as a special case, to be ignored in the merge lattices and iteratio

[2017-03-19 15:45] fredrikbk opened #37 "Tensor dimension type checking"
We need to add type checking that checks that every index variable only indexes into dimensions of the same size.

For example, `a(i) = B(i,j) * c(j)` should result in a user assert if `a`'s dimension is different from `B`'s first dimension, and `B`'s second dimension is different from `c`'s dimension.

[2017-03-19 15:48] fredrikbk opened #38 "Support for parenthesis parsing"
[code]

[2017-03-19 16:58] #26 closed, assigned to nobody

[2017-03-19 17:01] fredrikbk opened #39 "Linear Algebra API"
The tensor algebra compiler supports tensor index notation. Tensor index notation can be used to do linear algebra, but for convenience we ought to have a linear algebra API as well.

This API (`linalg.h`) can be built on top of the current functionality (`tensor.h`). It should define types (Scalar, Vector, Matrix), facilities for converting between these types and tensors, and the usual linear al

[2017-03-19 17:17] fredrikbk opened #40 "Common Iterator Elimination"
We should merge common iterators before invoking the lowering machinery. That is, two iterators for the same index variable and that iterate over identical dimensions, should be replaced with a single iterator.

Examples
[code]

[code]

[2017-03-20 11:38] fredrikbk opened #41 "Variable Declaration IR node"
It would be nice to either add a `VarDecl` node or to be able to tag a `VarAssign` with whether it is a declaration or not.

This way we can emit more readable code, code that is easier to copy/modify, and it will also help us detect when we emit code that accesses variables in the wrong scope using fuzz testing.

Example:
[code]

[2017-03-20 14:19] Lugatod opened #42 "Result ptr variable not initialized properly"
Using a debug option for the generated code leads to a crash in the test suite.
`export TACO_CFLAGS="-g"` or "-O0"

[2017-03-21 12:42] #33 closed, assigned to nobody

[2017-03-21 19:29] Lugatod opened #43 "Filling bug"
test this expression `taco "a(i) = b(i) + c(i)" -g=b:d -g=c:d` in the branch filling-bug

[2017-03-21 20:27] #38 closed, assigned to nobody

[2017-03-21 21:39] #18 closed, assigned to nobody

[2017-03-23 22:54] shoaibkamil opened #44 "Taco should generate dimension-size-independent code"
Currently, the code generation uses dimension sizes in the code.  We should (perhaps optionally) also generate dimension-size-independent code, so that the same code can be used to e.g. do `spmv()` for a 10x25 matrix as well as a 100x25 matrix, etc.

[2017-03-24 20:39] #43 closed, assigned to nobody

[2017-03-24 21:06] Lugatod opened #45 "Mixing Dense and Sparse in 'a(i) = b(i) + c(i)'"
The generated code for `taco "a(i) = b(i) + c(i)" -f=a:d -f=b:d -f=c:s` is wrong.

[code]
should be
[code]

[2017-03-31 20:46] Lugatod opened #46 "Tensor values not zeroed out"
Values are not zeroed out before each compute, so in kernels that increment into the output repeated compute calls increment into the result.

[2017-04-04 14:37] Lugatod opened #48 "Different generated code on different environment"
2 different generated codes.
First one on my dell linux laptop with gcc540
Second one on Lanka with gcc540

https://gist.github.com/Lugatod/3d8ddf73d1aedfaea15878b61558143a

To generate the second one on Lanka:

1. export CC=/data/scratch/lugato/gcc540/bin/gcc
2. export CXX=/data/scratch/lugato/gcc540/bin/g++
3. export LD_LIBRARY_PATH=/data/scratch/lugato/gcc540/lib64
4. compile taco with cmake ..

[2017-04-04 16:37] #48 closed, assigned to shoaibkamil

[2017-04-05 12:21] fredrikbk opened #49 "ASSERT_TENSOR_EQ"
Want ASSERT_TENSOR_EQ function in `test.h`. Something like:
[code]

[2017-04-05 12:23] fredrikbk opened #50 "Tensor Value printing"
We can't print the values returned by dereferencing Tensor iterators. For instance, the following doesn't work:
[code]

[2017-04-05 17:12] #46 closed, assigned to fredrikbk

[2017-04-06 12:26] fredrikbk opened #51 "Inferred dimensions"
If the user sets the dimensions of one tensor the defaults of other dimensions should be set to those. E.g. `taco "a(i) = B(i,j) * c(i)" -d=B:4,3` should cause the default of dimensions indexed by `i` to be `4` and `j` to `3`.

If the user gives incompatible options then that should be carried out and should lead to an error due to #37.

[2017-04-06 17:33] stephenchouca opened #52 "Output dimension order wrong"
[code]
The generated assembly loop does not take into account the output dimension ordering.

[2017-04-07 13:08] #13 closed, assigned to nobody

[2017-04-07 14:02] fredrikbk opened #53 "TACO_MIN only works for merging two indices"
From the code that emit `TACO_MIN` it seems it will only works for the min of two variables. However, when we merge multiple sparse indices we need to take the min of any number of variables.

We can emit this code in the lowering machinery, but I prefer if it's handled by a macro in the backend as now so that the intermediate code can look clean with a `min` call.

A decent solution is to look at

[2017-04-08 15:28] #32 closed, assigned to fredrikbk

[2017-04-09 13:52] fredrikbk opened #54 "parafac test suite compares wrong"
The parafac test suite compares a tensor to expected data by comparing two sets of values. This results in equality comparison which is too fragile for floating point values. There's also the problem that it doesn't compare values at specific locations in the tensor, just checks that each value exists in the expected set.

I recommend we store expected result as a tensor with some data. Then the r

[2017-04-14 19:22] fredrikbk opened #55 "taco "a(i) = b(i) * c(i)" -f=c:s"
Seems to produce wrong result

[2017-04-17 22:53] stephenchouca opened #56 "taco "a(i) = (b(i) + c(i)) * d(i)" -f=b:s -f=d:s"
Generates following compiler warning:
[code]

[2017-04-19 23:10] #51 closed, assigned to nobody

[2017-04-22 15:28] #53 closed, assigned to shoaibkamil

[2017-04-22 15:32] shoaibkamil opened #57 "Calling interface for generated code"
Generated code called by users should have a more sane calling convention than the convention used internally.  We should have a `taco_tensor_t` struct, similar to Halide's `buffer_t`, that can be used from C99 code.

[2017-04-22 15:34] shoaibkamil opened #58 "Check tensors passed in from user code"
We should generate assertions (similar to Halide's checks on buffers) that catch any case where the passed-in `taco_tensor_t` is incompatible with the generated code.  The ideal guarantee is that if the data pointers are valid, and the checks pass, our compute code will never crash.

[2017-04-25 14:16] #17 closed, assigned to nobody

[2017-04-25 15:50] #49 closed, assigned to nobody

[2017-04-26 13:36] fredrikbk opened #59 "Blocked Tensors"
It would be convenient if users can construct blocked tensors with the taco `TensorBase`API.

For linear algebra it means they can construct blocked matrices/vectors and operate on them using linear algebra, as opposed to 4-tensor operations. E.g. `a = B*c` instead of `a(i,j) = B(i,k,j,l) * c(k,l)`.

For tensor algebra it means they can construct blocked tensors and operate on them with fewer indi

[2017-04-29 23:50] fredrikbk opened #60 "hb file format"
The commit 904b9df removes the deprecated `TenorBase::read`/`TenorBase::write` methods. They have been replaced by the `readTensor`/`writeTensor` functions.

However, the .hb format still needs to be added to the new API.

When this has been fixed the test `write, apiwrb` should be enabled.

[2017-04-29 23:55] fredrikbk opened #61 "dns file format"
We have place-holders for a dense file format (.dns). The format should contain zero or more comments preceded by `#`, followed by a header that contains the size of each dimension, followed by values in row major separated by (any) whitespace.

E.g.
[code]

[2017-05-03 12:38] fredrikbk opened #63 "Add tensor overloaded operators for component-wise operations"
Functions:
[code]
Methods:
[code]

[2017-05-03 19:26] #60 closed, assigned to nobody

[2017-05-03 20:09] fredrikbk opened #64 "Full .mtx header parsing"
We need to support the full .mtx header and give error messages if we don't support parsing some form. See http://math.nist.gov/MatrixMarket/reports/MMformat.ps.

[2017-05-03 20:29] fredrikbk opened #65 "Tensor format: .tco"
We want to support a custom taco file format `.tco`. These files should contain ascii text as follows:
- An optional header preceded by `##taco `, containing one of `float` `double` `uint32_t` ...
- One or more comment lines at the beginning preceded by `#`
- A line with the dimension sizes for each order
- A line with the dimension storage types
- A line with the dimension storage order (for each

[2017-05-08 15:21] #41 closed, assigned to nobody

[2017-05-08 15:34] #10 closed, assigned to fredrikbk

[2017-05-10 18:47] #35 closed, assigned to fredrikbk

[2017-05-11 14:35] #64 closed, assigned to nobody

[2017-05-11 21:09] #57 closed, assigned to shoaibkamil

[2017-05-11 22:46] #55 closed, assigned to nobody

[2017-05-12 14:40] fredrikbk opened #67 ".mtx symmetry flag"
Several of the matrices on the matrix marketplace are symmetric, so we should add support for this (by copying entries across the diagonal).

[2017-05-12 15:17] fredrikbk opened #68 "Make sure tmp directory is writable"

[2017-05-12 16:03] #68 closed, assigned to shoaibkamil

[2017-05-13 12:04] #61 closed, assigned to nobody

[2017-05-14 14:09] #29 closed, assigned to nobody

[2017-05-14 14:49] #37 closed, assigned to nobody

[2017-05-14 21:25] fredrikbk commented on #45
Fixed in 5d1097e. The fix is a bit hacky, but works. Will simplify again later.

[2017-05-14 21:25] #45 closed

[2017-05-14 21:39] fredrikbk opened #70 "Packing code generation"
The C++ library has a function that packs a coordinate list into a format. We need to be able to generate code that does this for a specific format. This is necessary as a step towards parallelizing packing and ensuring we play nice with NUMA first-touch policies, but most importantly it will let us emit packing code into generated C99 libraries.

[2017-05-14 21:43] fredrikbk commented on #14
The default for cmake is debug builds, and I don't think we need to override this. The build line in README.md is for release builds, and if users copy paste it they should be good.

[2017-05-14 21:43] #14 closed

[2017-05-14 21:45] #40 closed

[2017-05-15 20:04] shoaibkamil commented on #8
I propose we use the ORC JIT mechanism introduced in LLVM 3.7.  This (vs. MCJIT) has some advantages including lazy compilation, a more reasonable and thin API, and is more future-proof than MCJIT.

[2017-05-15 21:07] fredrikbk commented on #8
Sounds reasonable to me. I'm not worried about the optimization; I'm sure that will come. The main selling point for me is the future-proof-ness.

[2017-05-15 21:41] fredrikbk commented on #44
I have two designs in mind that satisfies @peterahrens request.

The first design, which I like better, hard-codes dimensions by default. However, the compile machinery can take an optional `set<pair<TensorBase, int>> sizeIndependentDimensions` that are dimensions that should not be hard-coded. This is a bit awkward to use, as it is a side-api, but I cannot see why a user of the regular library ne

[2017-05-15 22:49] peterahrens commented on #44
I suppose the user may want to control how many kernels are generated. If they do the same computation many times with different block sizes, they might want to reuse code instead of generating each time. Is there no way to distinguish dimensions based on the types passed to the constructor? Something like this:
`Tensor<double> A(SizeIndependent(), 42);`

[2017-05-15 22:51] peterahrens commented on #44
Another question: does your first idea apply to the case where we want to permute which dimensions are stored on which level?

[2017-05-16 02:18] peterahrens commented on #44
Ah, I misunderstood the second option. I think that having an implicit constructor that sets DimensionSizeDependent and an explicit constructor which sets DimensionSizeIndependent would likely provide the nicest interface. The user could then say something like:
`Tensor<double> A(variable(10), 42)`
or if they wanted to be explicit:
`Tensor<double> A(variable(10), fixed(42))`

However, if you think

[2017-05-16 15:27] fredrikbk opened #71 "Hard-coded dimension sizes in emitted code"
We should have a lowering API that let's us specify which dimensions should be hard-coded in the emitted code. In the taco code generator tool (command-line/web) dimensions should not be hard-coded by default.

In the current C++ API, where an expression is with respect to specific tensors (with immutable dimensions) we should hard-code in all dimension sizes.

However, when we design an API to le

[2017-05-16 15:27] fredrikbk commented on #44
365a8bf6e43dd25ee7d6f15bbe08c982f474268d adds size-independent code emission (in all cases). This is nice for the online tool, but may have caused performance regression for blocked code, where dimensions are small and it may matter that the backend compiler knows the exact sizes.

The above discussion raises two issues that I have opened separately.
1. We should provide an API to hard-code dimens

[2017-05-16 15:33] fredrikbk opened #72 "Tensor Parameter API (RFC)"
The current Tensor API only lets users specify an expression with concrete tensors. The problem with this is that when we want to compute the same expression for many different concrete tensors, we have to compile the expression many times. We therefore need an additional API that lets users specify an expression with tensor parameters, that can be called many times with different concrete tensor

[2017-05-16 15:36] ShadenSmith commented on #71
Sparse tensor kernels could also benefit from a mix of unspecified and specified dimensions. Namely, the matrix operands in various contractions (e.g., MTTKRP) typically have only a few columns but many rows. The optimizations for say a rank-1 vs a rank-512 MTTKRP are different, as the amount spatial locality radically changes. Small ranks should benefit from something like the scatter/gather inst

[2017-05-16 15:36] fredrikbk commented on #71
One option is to specify this in a scheduling construct `Schedule`.

[2017-05-16 15:41] #44 closed

[2017-05-16 17:21] fredrikbk opened #73 "Sparse Matrix Multiplication"
The current lowering machinery does not support iteration graphs where both a reduction variable dominates the last free variable and the output is sparse. Sparse matrix multiplication where both inputs are the same format (e.g. CSR or CSC) suffers from this.

The issue with this is that the dominating reduction variable causes locations in the output to be visited multiple times. If the output is

[2017-05-16 17:29] fredrikbk opened #74 "Unpack/pack code order"
When we emit C code the order of the statements that unpacks and restricts pointers (and packs) are non-deterministic. They should be ordered by order of tensors and indices. That is:
[code]
should be:
[code]

[2017-05-16 17:33] fredrikbk opened #75 "Unnecessary pack statements"
Emitted compute code currently packs output vans and index arrays. This is only necessary for assembly code, since compute code never re-allocates these.

[2017-05-17 13:17] shoaibkamil opened #76 "Remove `util::toString()`"
C++11 already has `std::to_string()`.

[2017-05-17 13:22] fredrikbk commented on #76
True, but I'm pretty sure our toString is more flexible. I'll check in a bit.

[2017-05-17 20:16] Lugatod commented on #67
fixed in 6c182a6

[2017-05-17 20:16] #67 closed

[2017-05-18 01:03] stephenchouca opened #78 "Conflicting variable names in taco tool pseudo-code output"
For instance, for the addition of two DCSR matrices:

[code]

taco tool produces the following pseudo-code:

[code]

[2017-05-18 01:33] shoaibkamil commented on #78
Can you see what the output looks like at commit 2a118bc?  This may be related to recent IR changes.

[2017-05-18 02:14] shoaibkamil commented on #76
Good point, closing.

[2017-05-18 02:14] #76 closed

[2017-05-18 04:47] stephenchouca commented on #78
The issue appears at that commit as well.

[2017-05-18 06:28] #20 closed

[2017-05-18 06:28] #21 closed

[2017-05-18 21:18] ShadenSmith opened #79 "Position variable undeclared"
(Disclaimer: this may very well be user error)

I have this source file (slightly modified from the provided example):
[code]

Compilation works fine:
`g++ -std=c++11 -O3 -march=native -DNDEBUG -DTACO -I ../../include -L../lib -ltaco ttmc.cc -o ttmc`

But at runtime, I get the following error:

/tmp/33edcbkfv747.c: In function ‘compute’:
/tmp/33edcbkfv747.c:65:19: error: ‘A53_pos’ undeclared (firs

[2017-05-19 14:00] fredrikbk commented on #79
Thanks for this issue! There's definitely a taco bug here since it should either work or give a meaningful error message.

I'm trying to understand the expression and I'm wondering what it means for summation variables to index the left hand side (A)? That is `A_{i,f2,f3} = \sum_{f2} \sum_{f3} X_{i,j,k} * B_{j,f2} * C_{k,f3}`. If you sum over f2 then what is its value on the left hand side?
[code]

[2017-05-19 14:40] ShadenSmith commented on #79
Ah, as I said, there's certainly some user error here!

I think what I meant and should have used is:
[code]

The error goes away at that point.

[2017-05-19 18:35] fredrikbk commented on #79
Great! So this still needs to trigger an error message.

#16 also covers a redesign that would cause these user errors to not happen. Would you prefer such Einstein-summation conventions?

[2017-05-19 19:01] ShadenSmith commented on #79
When it can be inferred through context whether the variable is a summation or not (can it always?), it seems like a very reasonable default. That is not my expertise, though :-).

[2017-05-19 19:09] stephenchouca opened #80 "Error checking for tensor names"
- [ ] Make sure names are valid (e.g. do not contain hyphens)
- [ ] Make sure different tensors in same expression do not share same name

[2017-05-19 19:13] fredrikbk commented on #79
Yes, given a reasonable convention it can always. I think our convention should be that it is a summation variable iff it is not used to index the result. I'll implement #16. I'll leave the Var constructor that takes a kind and it will cause an error message. We can remove it if people feel it's not useful :)

[2017-05-19 19:21] #79 closed

[2017-05-19 19:22] fredrikbk commented on #79
The error check closed this issue. The new semantics is covered in issue 16

[2017-05-20 21:02] fredrikbk commented on #16
Fixed in 372661d and 2c543dd.

[2017-05-20 21:02] #16 closed

[2017-05-21 14:27] fredrikbk opened #82 "Tensor Transpose"
Since we don't support back edges in iteration graphs yet, we need a transposition routine.

The simplest implementation unpacks the tensor into a list of coordinates, permutes and sorts them, and then repack them.

[2017-05-21 14:28] fredrikbk opened #83 "Back edge error checking"
We need to report a proper user error if there's a back edge in the users iteration graph. The error should suggest to transpose the back-edge tensor.

[2017-05-21 17:22] fredrikbk commented on #19
duplicate of #73

[2017-05-21 17:22] #19 closed

[2017-05-22 12:43] fredrikbk opened #85 "Duplicate entries"
To ease matrix assembly in finite element codes we should support duplicate entry insertions into tensors. These entries should be summed before packing. This feature was asked for by @sueda.

[2017-05-22 21:55] stephenchouca opened #86 "taco "A(i,j) = B(i,j)" -f=A:sd -f=B:sd -print-assembly"
taco generates the following incorrect code:

[code]

[2017-05-22 22:13] shoaibkamil opened #87 "taco tool `-read-source` no longer works"
`-read-source` bypasses the shim generation mechanisms in the backend.  The tool should use `CodeGen_C::generateShim()`, a static function, to generate shims for the function signatures required.  Since the compiled output, in this case, is not visible to the user, it's ok to directly append these shims to the source that was read in.

[2017-05-22 22:47] shoaibkamil commented on #75
Fixed by 5471e55.

[2017-05-22 22:47] #75 closed

[2017-05-23 00:47] stephenchouca commented on #42
@Lugatod 635bb4d should fix this. Can you verify that this is indeed the case? I was unable to reproduce the original crash on my machine.

[2017-05-23 12:36] Lugatod commented on #42
Yes the bug is fixed

[2017-05-23 12:36] #42 closed

[2017-05-23 22:41] shoaibkamil commented on #74
Unpack code order is fixed by 6c58773.

[2017-05-24 01:02] shoaibkamil commented on #74
Pack code order is fixed by 44bc3e8.

[2017-05-24 01:02] #74 closed

[2017-05-24 13:16] fredrikbk opened #88 "taco expressionless mode"
We should extend the `taco` tool to support a workflow where it is not given an expression.

Example:
[code]
The `-t` option specifies the tensors in the kernel. The list is ordered and the first tensor is the result.

[2017-05-24 14:36] fredrikbk commented on #87
593d937 makes TensorBase::compileSource generate shim functions and build a string containing everything that is passed to `Module::setSource`. However, the resulting `.c` files are empty, so it looks like the code get's lost somewhere inside `Module`.

[2017-05-24 22:29] shoaibkamil commented on #87
Fixed by 4c68648.

[2017-05-24 22:29] #87 closed

[2017-05-24 22:30] shoaibkamil opened #89 "taco-tool needs tests"
Manually checking whether things work is too fragile; the tool should have tests.  These don't necessarily need to use the google test framework (e.g. even a simple script would better than hand-testing).

[2017-05-25 04:39] shoaibkamil commented on #85
I really think we should rethink these semantics.  Matlab, Eigen don't have these semantics and I think more generally, this violates the principle of least surprise.  Instead, can we use some form of `+=`, whether it's a different function (e.g. `insertAndSum()`) or whether we take the [Eigen approach](https://eigen.tuxfamily.org/dox/group__SparseQuickRefPage.html) (`insert()` assumes the element

[2017-05-25 14:00] sueda commented on #85
From the user's perspective, I think it's important to have a way to add elements into the tensor without having to care if that element was 0 previously. So, `+=` would work as long as the user can call it on an empty tensor.

- Matlab doesn't have `+=`, but its sparse matrices allow readback, so I can say something like `A = sparse(3,3); A(1,3) = A(1,3) + 1.0;`.

- In Eigen, I don't user `insert

[2017-05-25 14:19] shoaibkamil commented on #85
@sueda I see that `setFromTriplets()` does do summation for duplicate entries.  I think we need to consider whether our default semantics should be equivalent to `insert()` or `setFromTriplets()` and we should also provide the other semantics.

[2017-05-25 14:20] fredrikbk commented on #85
Thanks for reopening this and I agree with all the above concerns. The current thinking is that we have a concept of a _stash_. When you insert values they go into the stash. The values in the stash are not a part of the tensor until you pack them. This essentially the Eigen [triplet insertion](https://eigen.tuxfamily.org/dox/group__TutorialSparse.html#TutorialSparseFilling) @sueda mentions, but I

[2017-05-25 14:30] fredrikbk commented on #85
I agree with @shoaibkamil that we should provide semantics to actually read and insert into a tensor. For this maybe we should try to make it work with integers to index into `TensorBase::operator()` (see #24)? So to insert a values, maybe:
[code]
We have to be pretty clear about the unpredictable performance semantics of these operations in the documentation if we provide them. For dense storage

[2017-05-25 14:35] fredrikbk commented on #85
@sueda Do you generally avoid direct indexing into sparse matrices in a Matlab codes in favor of constructing them from some triplet list-like form?

[2017-05-25 14:49] fredrikbk opened #90 "Lazy semantics for compile/assemble/compute in Tensors"
The current state machine semantics for `TensorBase::operator()`, `TensorBase::compile`, `TensorBase::compute` and `TensorBase::assemble` can be difficult to get right. They can also cause code to be less clear since you have to build and compile expressions outside the loop where you want to do the computation:
[code]

We should consider lazy semantics, where you can write:
[code]

[2017-05-25 15:31] sueda commented on #85
@fredrikbk I use direct indexing in Matlab because I usually start with dense matrices and switch to sparse later. With direct indexing, I don't have to change the code. I am sure it is slower than creating a triplet list and then creating a matrix from it.

[2017-05-25 15:48] sueda opened #91 "Conjugate Gradient"
I'm trying to write CG with taco, but I'm having difficulties. Here is my starter code, which doesn't compile yet.

[code]

Here are some comments/issues.

- It complains if I try to declare `A` and `b` as `const`.

- I know that I'm missing `evaluate()/assemble()/compile()`, but it is difficult to get the correct syntax. If I put `evaluate()` everywhere, the code would get messy pretty quickly. F

[2017-05-26 14:41] fredrikbk commented on #85
@sueda that makes sense. Perhaps you'd be able to use `ValueList` in much the same way as you use dense matrices in Matlab if we provide an interface to `ValueList` that looks a lot like tensors? Then the pack would be the same as converting to sparse.

[2017-05-26 20:30] stephenchouca commented on #91
Thanks for your feedback! 57661f4 and eedb9db should address your first and fourth points respectively. With regards to your last point, the `Tensor` class does in fact have a `getFormat` method that returns the format of the tensor, so you can write something like

[code]

[2017-05-27 17:29] sueda commented on #85
@fredrikbk I use direct indexing in Matlab for portability between dense/sparse, but I am equally happy with triplet insertion. I am wondering if adding such an interface to `ValueList` might end up being more confusing to the user, since the matrix does not yet exist at that point.

[2017-06-01 15:04] fredrikbk commented on #78
This should be fixed in cc6932f9524173bebb0d21f8534d2284d7f6b639

[2017-06-01 15:04] #78 closed

[2017-06-05 16:01] fredrikbk commented on #56
Fixed in 049bc54c70a458581af417464a9c9e4f9435aafa

[2017-06-05 16:01] #56 closed

[2017-06-06 14:00] #1 closed

[2017-06-06 17:50] #83 closed

[2017-06-08 13:14] fredrikbk opened #93 "Additions incorrectly added to free loops dominated by summations"
When we add a tensor to a contraction where the reduction variable dominates one of the free variables, we incorrectly emit the addition into the inner (last free variable) loop.

E.g. `taco "A(i,j) = B(i,k) * C(k,j) + D(i,j)"`:
[code]
This is not a problem for component-wise multiplication, since they distributes over the summation.

In the above case the user can solve the problem by re-arrangin

[2017-06-12 20:02] fredrikbk commented on #36
We should also support explicitly multiplying by a scalar/variable:
[code]

[2017-06-12 20:39] fredrikbk opened #94 "Segfault when iterating over empty tensors"
Test case:
[code]

[2017-06-12 23:24] stephenchouca commented on #94
Fixed by 73067d5.

[2017-06-12 23:24] #94 closed

[2017-06-13 15:10] fredrikbk opened #95 "Bulk update tensor values without changing index"
@sueda points out that there are many use cases where the tensor values needs to be updated while the index remain unchanged, such as when working with finite element methods where the mesh remains unchanged. For performance, it should be possible to bulk update the values without repacking the index.

I see at least two APIs for this. The first is for the user to build up a triplet list that is t

[2017-06-16 18:48] peterahrens opened #96 "Tensor constructor from raw data"
In order for external libraries to call taco, we need a constructor for a tensor that takes the following arguments (or something similar to this):
1. A datatype
2. order
3. dimensions
4. index field
5. values

Most importantly, I need to retain ownership of my memory (no freeing my pointers please!)

I can write this function, but I need some guidance on the destructors and how that should be acc

[2017-06-16 19:17] peterahrens commented on #96
From what I can tell, the best way to accomplish this goal is adding some sort of "owner" boolean field to the Content and Index classes and using this field in the destructor. We would of course create new constructors for all of these fields which take pointers to the necessary memory. The only thing that bugs me about this is that the owner field doesn't really specify full ownership, it only i

[2017-06-16 19:38] peterahrens commented on #96
Instead of creating separate constructors, I could also just create a single function which creates a ghost tensor by creating a blank tensor and then inserts pointers into the right places and flips the ghost field as described above. From what I can tell, no memory is allocated for the Index class (even for dense indices) until pack is called. Therefore, this second option might be preferable.

[2017-06-22 19:15] #96 closed

[2017-06-22 19:16] peterahrens commented on #96
Closed. It looks like the new Array class solves my problem nicely

[2017-06-25 06:07] stephenchouca opened #97 "taco tool segfaults when using -read-source"
The following test case reproduces the issue:

[code]

[2017-06-25 16:35] #97 closed

[2017-06-26 17:11] peterahrens opened #98 "Generic index datatypes"
In addition to a templated value type, it would be very useful to be able to use generic index types (long long, int, short, size_t, etc.). Thus, the taco tensor type would be parameterized as `Tensor<value_t, index_t>` and the `insert` function would be declared as `void insert(const std::initializer_list<index_t>& coordinate, value_t value);`

[2017-06-29 19:11] stephenchouca opened #99 "taco "a = 1.2""
taco generates code that truncates the literal:
[code]

[2017-07-02 19:08] #99 closed

[2017-07-07 16:04] stephenchouca opened #100 "taco "A(i,j) = B(i,j)" -f=A:ds -f=B:sd -print-assembly"
taco generates the following incorrect code:

[code]

In particular, `A1_pos_arr` may not be correctly assembled if `B` has empty slices.

[2017-07-17 20:25] peterahrens opened #101 "Identity operation does not compile in Taco"
The following code
[code]
produces the following error
[code]

[2017-07-17 20:27] peterahrens opened #102 "Index variables with the same name are not treated as the same variable"
The following code
[code]
produces the following error
[code]

[2017-07-17 20:31] stephenchouca commented on #101
Which version of taco are you using? I can't reproduce this with the latest version.

[2017-07-17 20:34] fredrikbk commented on #102
Hmm, not sure they should. Variables are atm. entity objects by design, so two variables with the same name are still different. We could make them value objects, and allocate default names from a global pool to ensure uniqueness, if there's a good reason (?)

[2017-07-17 20:34] peterahrens commented on #102
If they are not value objects, then what is the purpose of the name field?

[2017-07-17 20:35] peterahrens commented on #101
I am using the latest version. Let me double check

[2017-07-17 20:36] peterahrens commented on #101
I appear to have made a mistake. Everything works now :)

[2017-07-17 20:36] #101 closed

[2017-07-17 20:38] fredrikbk commented on #102
It's there to control their name in the emitted code, for debug purposes and if you use taco as a code generator. However, their names are made unique by appending numbers to them, if necessary, in the printer. This is a similar design to llvm's `Value` objects, which are unique by identity and not by value.

[2017-07-17 20:41] fredrikbk commented on #102
My thoughts are that making them match up by the name makes it a bit more likely for users to make an accidental mistake, but maybe that's not true. In what circumstance did you want this functionality?

[2017-07-17 20:42] peterahrens commented on #102
So it's more of a debug thing. From the point of view of wrapping taco or using taco to programmatically generate kernels, it is easier to be able to pass a string to the IndexVar constructor. My current design is to pass a string of the julia variable name to the IndexVar constructor. I can certainly make unique names on my end, it's just an extra step

[2017-07-17 20:43] fredrikbk commented on #102
@shoaibkamil do you know of the top of your head how Halide works w.r.t. this? Presumably it is by name, the way @peterahrens proposes, since they are less type safe and work with strings in their lowering machinery?

[2017-07-17 20:45] peterahrens commented on #102
When I make unique IndexVar objects and call Julia from Taco, I get the following error which I am having trouble reproducing with pure C++. Does this look familiar to anyone?
[code]

[2017-07-17 20:45] fredrikbk commented on #102
I see, that is a pretty good reason. It would make taco a bit less typed in the frontend though, but no big deal I think. I suppose another alternative for you is to have a map from strings to IndexVar on your end, but maybe not ideal?

[2017-07-17 20:46] peterahrens commented on #102
Yes, I can just  map from strings to IndexVar. No biggie in Julia.

[2017-07-17 20:46] peterahrens commented on #102
I was just unclear on the desired behavior.

[2017-07-17 20:47] fredrikbk commented on #102
I'm open to changing the way taco works w.r.t. this. Only concern is that it makes taco a bit less type safe, and I thought that might lead to user bug. I think the Halide developers have had some experience with the other string-based design though; I seem to remember @shoaibkamil telling me about it.

[2017-07-17 20:53] peterahrens commented on #102
When I make unique IndexVar objects and call Julia from Taco, I get the following error which I am having trouble reproducing with pure C++. Is this related?
[code]

[2017-07-17 21:43] peterahrens commented on #102
I feel that comparing indexvars by value makes more sense simply because I currently do not understand how to write code that can tell me if taco thinks two index vars are the same.

[2017-07-17 21:43] peterahrens commented on #102
Should I be using the == operator?

[2017-07-17 21:46] peterahrens commented on #102
Regardless of how this issue is resolved, I need to understand what is happening in my weird example above, which will take some time. Ill let you know if I fix it or find a way to reproduce in c++

[2017-07-18 18:59] shoaibkamil commented on #102
@peterahrens Can you attach the full source (if you only have the generated source, that's fine) that's causing this compile error?  Multiply-defined vars with the same name seem to work fine for me.

@fredrikbk Vars being unique by name was used originally in Halide, but the purpose was also to support special names for GPU loops.  I believe it no longer uses this, though.  It's pretty fragile, i

[2017-07-18 20:08] peterahrens commented on #102
The source is
[code]

[2017-07-18 20:08] peterahrens commented on #102
I don't expect anyone here to fix this code, but if you are curious about how i got this bug, the Julia code that creates this code is as follows (it's a little messy right now):
[code]

[2017-07-18 20:09] peterahrens commented on #102
I am attempting to do the operation B(i, j, k) = A(i, j, k) + A(i, j, k)

[2017-07-19 18:39] peterahrens opened #103 "Adding an Access to itself triggers a taco assertion error"
This code:
[code]
produces this error:
[code]
So I'm reporting it to the developers. :)

[2017-07-20 16:55] peterahrens commented on #102
I'm going to close this issue as it seems that the original issue is closed (we have decided we don't want to compare by value and everyone is okay with that). I'll make a new issue for my weird bug

[2017-07-20 16:55] #102 closed

[2017-07-20 16:58] peterahrens opened #104 "Adding an Access to itself using Julia makes taco redefine variables in generated code"
The following Julia code
[code]
produces the following error
[code]

This is not an issue in my critical path, but I think that it is worth logging both for understanding how Julia interacts with C++ and understanding taco behavior.

[2017-07-20 18:11] peterahrens opened #105 "Bikeshed: Rename Dimension to Mode when Mode is meant"
The taco api currently uses two different meanings of the word "dimension". taco uses "dimension" to mean either a mode of a tensor, or the length of a mode.

I propose that we rename the usage of "dimension" to the word "mode" when "mode" is meant.

This will maintain compatibility with tensor literature. The word "dimension" is more often used to refer to a size (people already talk about the "d

[2017-07-20 18:48] peterahrens opened #106 "Bikeshed: The ordering issue and renaming the word "order" in the Format class."
The `dimensionOrder` variable in the `Format` class (referring to the sequence in which modes are stored in the tensor) presents a possible confusion with the `order` variable in the `Tensor` class (referring to the number of modes in the tensor). The methods `getOrder` and `getDimensionOrder` mean something completely different.

To further complicate things, the interpretation of the `dimensionO

[2017-07-20 18:49] peterahrens commented on #105
related to #106

[2017-07-20 18:49] peterahrens commented on #106
Related to #105

[2017-07-20 18:52] peterahrens commented on #105
This means that we would rename `DimensionIndex` to `ModeIndex` and `DimensionTypes` to `ModeTypes` etc.

[2017-07-20 19:09] peterahrens commented on #106
The double meaning of the word order is much less confusing when used in a sentence, ("a tensor of order 3" vs. "stored in alphabetical order"), so it is probably fine to use the word "order" in comments.

The consistent usage of the terms "storage order" and "mode order" in documentation could even prove useful for intermediate users. They would see a comment like "the blah vector is stored in mo

[2017-07-25 14:27] peterahrens commented on #104
If, during the course of investigating this bug, we could also discover why #103 raises a different error, that would be of interest to julia cxx developers.

[2017-07-26 09:13] ElTantawy commented on #8
Hey guys, great work!

I was curious about what prevents taco from being part of Halide. After all, besides sparsity, tensor algebra computations can benefit from tiling, vectorization, parallelization, etc, which are all represented in Halide.

Is the main challenge that Halide is design for linear algebra and not tensor algebra? or it is more of an engineering choice now to avoid disturbing Hali

[2017-07-26 09:28] fredrikbk commented on #8
Hi @ElTantawy!

Halide is a grid/stencil language with some reduction support. It should be possible to define dense tensor algebra on top of this. The main conceptual difference I see is the general sparsity that taco supports and the complexity that follows. This results in indirect accesses that may or may not work with Halide's internals. We have certainly borrowed from Halide's internal desig

[2017-07-28 14:29] fredrikbk commented on #105
We have a method `TensorBase::getDimension` that corresponds to this definition of a dimension. To avoid a lot of terminology, however, I propose we rename this method to `getModeSize` and remove references to dimension altogether.

[2017-07-28 14:48] meng-sun opened #107 "Batch operation"
Adding here for documentation.

Batching is when you take some number of n-ranked examples and concatenate them to form a (n+1)-ranked tensor. It's used a lot in many ML applications because you usually can get more accurate numbers or better calculation speed up if you do gradient calculations in a batch rather than updating the gradient after every single example.

Right now for batching I've be

[2017-07-28 17:31] fredrikbk commented on #105
Updated the tensor and format APIs to reflect this in 1aa35c1. We still need to change the index API as described above by @peterahrens .

[2017-07-28 20:14] fredrikbk commented on #105
Fixed in 1aa35c1 and 7521fb2. @peterahrens do reopen or send a pull request if I missed something.

[2017-07-28 20:14] #105 closed

[2017-08-02 14:27] jermainewang opened #108 "More sparse format support?"
Hi Tacoers,

I am from [MXNet](https://github.com/dmlc/mxnet) team. We are working on sparse tensor operation support and we found that your project is really interesting. I really like your idea that can unify all different kinds of sparse formats in one representation. I can see this lays a foundation for easy extension to different sparse formats and even code generation like what you guys try

[2017-08-02 15:10] fredrikbk commented on #108
Hi! Great to hear!

We have a new and much improved version of that paper that will appear at OOPSLA (assuming they accept some changes). One of the new things in that paper is parallelism.  I'll look into sharing a preprint.

Have you considered using our library in your project instead of re-creating it? For example, @peterahrens in the Julia research group is currently working on building tenso

[2017-08-02 15:19] fredrikbk commented on #108
I looked through the discussion at https://github.com/apache/incubator-mxnet/pull/7082 and I think I understand now. You can express, at runtime, tensors of any rank/order. For example, a `kRowSparseStorage` for a 3-order tensor in your notation is ` [<0, sparse>, <1, dense>, <2, dense>]`, a 4-order `kRowSparseStorage` is ` [<0, sparse>, <1, dense>, <2, dense>, <2, dense>]`, etc. In our C++ librar

[2017-08-02 16:11] jermainewang commented on #108
CC @tqchen @mli @piiswrong

Thanks for the quick reply! It is great to know that you are looking into DL frameworks. I think the reason why MXNet needs sparse operations is the same as Tensorflow. From my bare understandings, they are quite useful for data pre-processings and result post-processings for speech and NLP tasks. @piiswrong @eric-haibin-lin should know more about this.

I'd love to see

[2017-08-02 18:53] eric-haibin-lin commented on #108
To add some context, we're using sparse tensor feature in mxnet for machine learning models for search/computational ads/recommender system/factorization machine/nlp problems.

[2017-08-02 19:43] fredrikbk commented on #108
I have made a preprint of the rewritten paper available at http://people.csail.mit.edu/fred/tensor-compiler-preprint.pdf. It is clearer, more complete, and includes parallelism.

[2017-08-02 19:46] fredrikbk commented on #108
@jermainewang @eric-haibin-lin Thanks for the information! We're happy to learn as much as we can about sparse tensor use cases in ml as we're coming from compilers.

There's also documentation for our library on our webpage http://tensor-compiler.org/docs, and a demo if you want to play with it http://tensor-compiler.org/codegen.

[2017-08-03 19:17] shoaibkamil opened #109 "`util::fill` methods don't fill using `fillValue`"
These function have misleading signatures; the passed-in `fillValue` is not used as what gets filled in.

[2017-08-04 07:14] stephenchouca commented on #108
As @fredrikbk mentioned, I'm currently working on extending taco to support additional formats like the coordinate format and DIA. It is still very much a work in progress (and unsupported for now), but if you'd like feel free to check out the prototype on [this branch](https://github.com/stephenchouca/taco/tree/coo) and play around with it. (As an example for reference, the following taco tool co

[2017-08-04 16:22] jermainewang commented on #108
@stephenchouca that's really cool! Another question from our side, have you guys thought about generating GPU codes?

[2017-08-04 16:43] fredrikbk commented on #108
@jermainewang yes that is something we're interested in. In fact, @Lugatod is looking into generating code for supercomputers and we believe some of those ideas may apply to GPU code generation too.

[2017-09-20 13:46] fredrikbk opened #111 "New Tensor Compute API (RFC)"
This RFC discusses a Tensor APIs design that came up in a discussion with @stephenchouca. It is related to #72, which proposes a parameter system, and to [Halide's design](http://halide-lang.org/tutorials/tutorial_lesson_02_input_image.html). The lazy API discussed in #90 will be built on top of the APIs decided on here.

# Current Design

In the current API, a `Tensor` object is both a function t

[2017-09-20 15:19] shoaibkamil commented on #111
Overall, I think this is the way to go.  Some clarifying questions:

- Why have both the ability to specify computations using `TensorParam` objects without a `Func` (#72) and with a `Func`?  It seems like having just the latter is sufficient, and would make it a bit simpler of an overall API: for concrete inputs, you can write the output as an index expression, and for a function that takes param

[2017-09-20 16:49] fredrikbk commented on #111
1. I agree that we don't need to support `TensorParam` for the tensor-as-a-function API. This does make the function API the primary API though, with the tensor-as-a-function API delegated to an easy shortcut. I also imagine most casual users will want to use the casual API in #90. Sophisticated users might prefer the explicit function API to the tensor-as-a-function API.

2. Yes, I think that mak

[2017-09-21 16:27] shoaibkamil commented on #111
3. I would be in favor of explicitly asking users to define outputs; otherwise, it'll be difficult to disambiguate which is a temporary and which is an output.

5. I believe I understand what you mean here.  I hope to have a reasonable proposal for scheduling post-PLDI, but what I was referring to is that a `Func` should expose its statements for scheduling.  In other words, something like `vecadd

[2017-09-22 14:42] #106 closed

[2017-09-22 16:45] fredrikbk opened #114 "Accumulate into Results"
We need to be able to add values to a tensor. This is needed for expresions such as the common `a(i) = B(i,j)*c(j) + a(i)`. My main motivation, however, is to accumulate values into a dense tensor dimension, as in `w(j) += B(i,k)*C(k,j)`, which is needed for fast matrix multiplication.

We have the choice between just supporting compound assignments (`+=`), which is sufficient for the examples abo

[2017-10-02 17:00] fredrikbk opened #115 "taco "A(i,j) = (B(i,k,l) * C(k,j) * D(l,j)) + E(i,j)" -f=B:sss"
[code]

[2017-10-04 11:22] fredrikbk commented on #114
Simple case implemented in 41136b

[2017-10-04 11:22] #114 closed

[2017-10-30 20:39] fwinter opened #116 "Complex numbers"
Hi! We are looking for a sparse tensor framework just like yours. However we rely on computations on complex numbers and a first attempt with the current taco code didn't quite succeed. I.e. I couldn't do

`Tensor<std::complex<double> > A({2,2},   sm);`

Is it already possible to define tensors on complex numbers? If not, would this represent a major feature addition (and thus will not be availabl

[2017-10-30 20:58] fredrikbk commented on #116
Hi @fwinter! I hope taco can help you.

We don't support anything except doubles yet, but I think it will be easy for us to add (hours/days, not weeks). We are, however, completely committed until the end of November. It is a clear hole in taco though, so I would like to fix it sometime in either December or early next year.

If this is the only thing blocking you from using taco, then I will make

[2017-10-31 15:27] fwinter commented on #116
I believe if taco would support tensors of complex numbers and would expose the complex conjugation of a tensor (i.e. conjugate all elements) then we could use it in our contraction framework right away.

[2017-11-01 04:41] quaxquax commented on #116
Want to second fwinter's request. TACO could be a great fit for Quantum Computing software (e.g. compilers for universal  quantum gate sets) if it could handle complex numbers.

[2017-11-01 14:41] fwinter commented on #116
Since @quaxquax mentioned his field.. Our application involves Nuclear Physics calculations and we believe taco would be of great use.

[2017-11-02 04:10] fredrikbk commented on #116
Those are really cool applications! Based on this I’ll try to prioritize complex numbers next month or January. Is the complex conjugation you refer to a component-wise per-non-zero conjugation?

[2017-11-02 15:24] werschulz opened #118 "issue with libtaco.so"
Running Fedora 26 (x86_64).  I successfully built taco, which passed the tests.  I then ran "make install" (as root) from the build directory.  I then created the example mentioned in the README.md file, which I then built via
g++ -o taco-test -std=c++17 taco-test.cc -ltaco
This gave the error msg
taco-test: error while loading shared libraries: libtaco.so: cannot open shared object file: No such

[2017-11-02 15:27] shoaibkamil commented on #118
It looks like you need to set the `LD_LIBRARY_PATH` environment variable so that the OS can find the library.  You can try something like:
[code]

[2017-11-02 17:48] werschulz commented on #118
OK, I forgot that this was a shared library, not a static library.  Sigh.

[2017-11-02 18:06] werschulz commented on #118
Better yet: I added /usr/local/lib to /etc/ld.so.conf and ran ldconfig

[2017-11-02 18:29] werschulz opened #119 "data files for mttkrp sddmm spmv"
Where might I find the files
../data/webbase.mtx
../data/pwtk.mtx
../data/facebook.tns
that  are read in mttkrp, sddmm, and spmv?
They aren't in the source distribution.

[2017-11-02 18:48] stephenchouca commented on #119
Those files are from the [SuiteSparse Matrix Collection](https://sparse.tamu.edu/) and [FROSTT Tensor Collection](http://frostt.io/tensors/). We didn't include them in this repository for copyright reasons, though you can download them from here:

- https://sparse.tamu.edu/MM/Williams/webbase-1M.tar.gz
- https://sparse.tamu.edu/MM/Boeing/pwtk.tar.gz
- http://frostt.io/tensors/nell-2/

Both reposit

[2017-11-02 19:09] werschulz commented on #119
Hi.

Thanks.
--
Arthur G. Werschulz
Assoc. Chair for Undergrad Studies, Lincoln Center
Dept of Computer and Information Sciences
Fordham University
O: (212) 636-6325
C: (908) 612-8140

[2017-11-02 19:28] #119 closed

[2017-11-06 15:14] fwinter commented on #116
OK! For us, the earlier the better.
Yes, it's an element-wise complex conjugation. Only the non-zero elements require an actual operation since zero is it's own complex conjugate.

[2017-11-16 21:26] tuglat opened #120 "missing data files for test/examples"
The data files for the examples from your website seem to be missing. For example, pwtk.mtx and webbase.mtx.

[2017-11-17 18:27] stephenchouca commented on #120
The first two files are from the [SuiteSparse Matrix Collection](https://sparse.tamu.edu/) and can be download here:

- https://sparse.tamu.edu/MM/Williams/webbase-1M.tar.gz
- https://sparse.tamu.edu/MM/Boeing/pwtk.tar.gz

The SuiteSparse Matrix Collection also have other matrices that you can try out the SpMV and SDDMM examples with. We didn't include them in this repository for potential copyrig

[2017-11-21 14:07] nitish2112 opened #121 "Incorrect results -- Are these bugs ?"
Hi,

When I try to compile a matrix multiplication A = B*C where A, B and C all three are CSR, taco doesn't seem to produce the correct result.

[code]

When I compile it using taco and run:

[code]

which is the wrong result.

Also, when I try to set A as CSR, B as CSR and C as CSC, then I get the following result

[code]

Here as we can see A is definitely not is CSR format.

Is there something

[2017-11-21 15:24] fredrikbk commented on #121
Dear @nitish2112,

I'm so sorry, the current implementation does produce incorrect code for CSR matrix multiplication. We've worked out how to fix it in theory and I'll implementing it first thing after thanksgiving break. I thought we had an issue on this, but I cannot find it so I'll update the name of this issue.

[2017-11-25 06:26] RSenApps opened #122 "Unnecessary index check in loops generated for tensor addition"
When generating code to perform a sparse vector addition:
`taco "a(i) = b(i) + c(i)" -f=b:s -f=c:s -f=a:s -time -d=i:10000000 -g=b:s -g=c:s -write-source="myaddorig.h"`

The following loop is generated:
[code]

But checking both indexes at every iteration of the loop is unnecessary and can more efficiently be done with this:

[code]

This performs 3.5% faster when benchmarked using the following t

[2017-12-02 20:15] fredrikbk opened #125 "RFC: Module Design"
This issue outlines a proposed target design that separates the three different concerns into different modules, which `Tensor` class and tools can be built on top of.  The three concerns are compiler, execute, and storage. On top of these we'll build the `Tensor` class and compiler/benchmarking tools.

This diagram shows the modules layered so each module only builds on what's directly below it:

[2017-12-02 22:42] stephenchouca commented on #120
@fredrikbk I've updated the documentations accordingly.

[2017-12-02 23:23] #120 closed

[2017-12-03 17:15] fredrikbk opened #126 "Issue - Index Expression API (RFC)"
This issue requests comments for a new index expression API proposal.  It supercedes issues #72 and #111. The index expression module relates to other modules in the following way:

![img_1315](https://user-images.githubusercontent.com/142293/33519361-300c24b6-d773-11e7-8bed-d86e0f97818f.jpg)

The API is in the ``taco::index_expression` namespace. It is designed to be convenient to use by us and b

[2017-12-03 17:17] fredrikbk commented on #111
Superseded by RFC #126

[2017-12-03 17:17] #111 closed

[2017-12-03 17:17] fredrikbk commented on #72
Superseded by RFC #126

[2017-12-03 17:17] #72 closed

[2017-12-03 19:26] fredrikbk opened #127 "RFC: Scheduling API"
This issue outlines a proposed scheduling API for taco. The API consists of a taco-specific schedule primitive called operator splitting, and a number of loop optimization primitives.

The API applies schedule operations to the index variables of expressions, and are exposed as methods on `Expr` (operator split) and `Tensor` (loop optimizations) in the `index_expression` module.

# Operator Split

[2017-12-05 14:48] fredrikbk opened #128 "Command-line tool, replace `=` with space"
The way the taco tool encodes options prevents the shell from sanitizing file names. This makes it quite non-standard. For example, in the command ```taco "A(i,j) = B(i,j)" -i=B:~/matrix.mtx``` the tilde does not get expanded by the shell because it cannot see that it is a filename. To fix this, we can change the argument convention to be a dash, followed by the command, followed by a colon and wh

[2017-12-08 16:46] fredrikbk commented on #125
Closed as we seem to have agreement.

[2017-12-08 16:46] #125 closed

[2017-12-12 14:07] fredrikbk opened #129 "GPU Code Generation"
We need to generate GPU kernels. As a first step we're planning to generate CUDA code and compile it with our current system-compiler scheme (Nvidia has graciously donated GPUs we'll work with).

The target for GPU support in taco is mid April.

Open questions:
- [ ] How should we design the device API to move tensors to and from GPU memories?
- [ ] What formats will work best on GPUs?
- [ ] What

[2017-12-12 15:41] fredrikbk opened #130 "Fused assemble+compute loops"
We need a user-facing API for generating kernels that assemble and compute in the same loop nest. This _should_ be supported by the lowering machinery, but it hasn't been tested so I'm sure there will be some bug.

[2017-12-12 16:47] ShadenSmith commented on #129
Concerning sparse formats, I don't know that there has been enough work in that area yet to say that one format will work best.

There is [F-COO](https://arxiv.org/pdf/1705.09905.pdf) -- it gets good speedup over CSF on CPU when the tensor is mostly dense (e.g., BrainQ which is 90% dense when empty slices are removed).

DFacTo and its family of methods like [ReFacTo](https://www.researchgate.net/p

[2017-12-12 18:55] fredrikbk commented on #129
I see, we should study F-COO (@stephenchouca). We will support the same formats on GPU as on CPU, so it should become possible to study which formats make sense in different cases. @stephenchouca  will soon merge in support for many new formats in taco, including coordinates and generalizations of ell and dia.

Agreed about the matricizarion; especially when there’s support for specifying lower bi

[2017-12-22 07:35] MeBlueDolphin opened #131 "How to turn on parallel taco"
Hi,
   I am testing SPMV with TACO.  How do I turn on parallelism?
Thank you,
Ismail Bustany

[2017-12-22 21:15] MeBlueDolphin opened #132 "TACO does not appear to take advantage of symmetry when generating SPMV code"
Hi,

   It does not appear TACO takes advantage of symmetry when generating SPMV code.  That is, if I input a symmetric matrix in MatrixMarket symmetric format, the runtime is identical to that of the general format instead of being lower.  Have you looked into that?

Regards,
Ismail Bustany

[2018-01-02 11:17] xysmlx commented on #131
I noticed that the generated codes have the openmp configuration. So you can try to add the openmp compile flag -fopenmp in the compile stage. I am not sure whether it can work or not.

[2018-01-02 17:35] shoaibkamil commented on #131
taco generates OpenMP pragmas when it is safe to do so.  If you're including taco-generated code in your own app, then adding the appropriate OpenMP compiler flags should be sufficient (e.g. `-fopenmp` if you're using GCC).

If you're using taco as a library, then you can change the backend compiler flags by setting the environment variable `TACO_CFLAGS`.  The default flags are `-O3 -ffast-math -s

[2018-01-12 14:27] SebSchr opened #133 "Possible memory leak"
Hello guys,

I am trying to use taco to evaluate the right-hand-sight of a system of ODEs. As this entails looping to  propagate the system, I encountered the odd behaviour that my program uses up all the memory if it iterates long enough. As my test systems only were in the order of 10 equations, none of the involved tensors should use up 10s of gigabytes of my memory. I tested it with a simple w

[2018-01-12 19:50] fredrikbk commented on #132
Hi! You are correct that taco does not take advantage of symmetry. We have discussed this in the past as symmetry is common in physics, etc. It requires significant effort to generate code that takes advantage of symmetry in general and it is not currently our priority. I will leave this issue open to document the need.

[2018-01-12 23:38] pkomiske opened #134 "Uninitialized variable used in expression"
With taco's "Try online" feature, if I enter the expression:
    `result = a(i1)*a(i2)*a(i3)*X(i1,i2)*X(i1,i3)`
(all as dense tensors) then it uses a variable `pa1` in "Compute Loops" (or `pa11` in "Complete Code") without initializing its value. When I try to evaluate this expression in a custom program, I get 0 (which is wrong).

If this is somehow an unsupported type of expression, then it need

[2018-01-15 19:01] fredrikbk commented on #133
The `taco_tensor_t` struct was never deleted. I changed so it's deleted in 25107fb. Hope it works for you now! :)

[2018-01-15 19:01] #133 closed

[2018-01-18 16:11] fredrikbk commented on #134
@pkomiske, @stephenchouca and I met to discuss this. It looks like this is a bug with code generation and I'll look at it this week and next.

@pkomiske also sent us some test cases:

"Here are two files to help you in the debugging. `events.txt` contains ten random events (which each have a vector z and a matrix theta). The dimension M is 25 for all these events.  I’ve flattened the matrix (and a

[2018-01-18 21:53] #116 closed

[2018-01-19 00:09] RSenApps commented on #116
@fwinter @quaxquax Complex numbers should now be supported. I am still working on adding complex literals as well as cleaning up some things in the code, but for your use case, it should be good to use. Please reach out if you run into any issues or have any feedback, we are very interested to see what you use taco to build.

[2018-01-19 07:47] quaxquax commented on #116
Thanks! Much appreciated.

[2018-01-19 16:12] fredrikbk commented on #134
The expression from op (`tau = z(i) * z(j) * z(k) * theta(i,j) * theta(i,k)`) emits as:
[code]
The problem is that the `z(k)` sub-expression is emitted in the i,j loop, indexed by the a z position variable. It should be emitted in the i,k loop:

[code]

[2018-01-19 16:15] fredrikbk commented on #134
Test case ('expr-qcd-tests.cpp`):

[code]

[2018-01-19 18:00] nitish2112 commented on #121
Hi Fred,
Has this bug been resolved?

[2018-01-19 18:04] fredrikbk commented on #121
Hi, thanks for checking in. I'm sorry, but it hasn't been implemented yet since I diverted by small side-tasks, but I'm working on it and there's nothing blocking it so it should be in by the end of the month/early next month. I hope this doesn't negatively impact you too much.

[2018-01-19 18:05] nitish2112 opened #136 "assembleCompute() capability not present"
Hi Fred,

The TACO technical report  [link](https://dspace.mit.edu/bitstream/handle/1721.1/107013/MIT-CSAIL-TR-2017-003.pdf) section 6 talks about assembleCompute( ) method that can merge the assemble and compute functions, but it doesn't seem to be implemented in taco repository?

Thanks,

Best,
Nitish

[2018-01-19 18:09] nitish2112 commented on #121
Hi Fred,

Thanks for the prompt reply. Yes, that is perfectly fine.

Best,
Nitish

[2018-01-19 18:12] fredrikbk commented on #136
Hi Nitish,

(We have a full paper that is much nicer to read than the technical report at https://dl.acm.org/citation.cfm?id=3133901.)

Yes, our code generation machinery should support this, but as you point out we haven't exposed it in the tensor API or tested it. This is an omission that we have to address soon. I'll do it after I fix the sparse matrix multiplication, but first I have to fix a

[2018-01-19 18:14] fredrikbk commented on #136
@stephenchouca, perhaps you can implement this once your master thesis is done?

[2018-01-19 19:17] stephenchouca commented on #136
Actually we already have something like that implemented. The `compile` method takes as argument a Boolean flag that controls whether or not the generated compute kernel does assembly as well, so if you call `A.compile(true)` then you should be able to just call `A.compute()` without having to explicitly call `A.assemble()` beforehand.

I haven't tested this very extensively though, so there might

[2018-01-19 20:33] nitish2112 commented on #136
I tried the following program:
`
#include <iostream>
#include "taco.h"

using namespace taco;

int main(int argc, char* argv[]) {
  // Create formats
  Format csf0({Sparse, Sparse}, {0,1});
  Format csf1({Sparse, Sparse}, {1,0});
  Format csr({Dense,Sparse}, {0,1});
  Format csc({Dense,Sparse}, {1,0});
  Format  sv({Sparse});

  // Create tensors
  Tensor<double> Y({4,4},   csf0);
  Tensor<double>

[2018-02-02 14:07] fredrikbk commented on #134
This is fixed with fa8f686555b3d9862aae57c0004e1e0f2623fdcd.

@pkomiske let us know if anything else does not work for you!

The solution is temporary and quite hacky, but I think it's fine for a little bit. The investigation into this bug exposed a need to redesign our system to include summation nodes in the index expression IR, nd the temporary solution is just there while I do this.

[2018-02-02 14:07] #134 closed

[2018-02-02 14:55] fredrikbk opened #138 "RFC: Reduction nodes in Index Expressions"
This is a proposal for adding a reduction node/nodes to the index expression IR.

The rationale is that our current approach of inferring summations based on a convention is flawed, because any such convention rules out possible use cases. For example, we can choose the Einstein convention, which should give us tensor and linear algebra, but which rules out supporting the numpy API. For example, t

[2018-02-05 18:25] shoaibkamil commented on #138
+1.  I think this is a good idea, and from the perspective of the backend, should require very few changes.

I would say one node, with different types represented by an enum.

[2018-02-05 21:52] shoaibkamil opened #139 "Python bindings"
It would be really useful for many developers to have bindings to Python, with compatibility with SciPy's `sparse` package (at least the COO and CSR/CSC formats).  To avoid dependency on Boost, we should follow Halide's example and use [pybind11](https://github.com/pybind/pybind11), since taco is C++11-only already.

[2018-02-05 22:55] fredrikbk commented on #139
Great idea! How much work would this be?

[2018-02-05 23:46] shoaibkamil commented on #139
The majority of the work, I believe, is API design (i.e. how we envision taco working in Python), but wrapping seems mostly pretty straightforward.  The API design, however, may necessitate changes/additional overloads in C++, so it does require some thinking.

[2018-02-06 15:05] fredrikbk commented on #138
I think maybe one node, but configured with a binary operator node, such as `AddNode`, whose operands are set to undefined `IndexExpr`. That would compose nicely over time as we'll want to start phrasing our code generator and optimizations in terms of operator properties (commutativity, etc.)

[2018-02-27 01:19] shoaibkamil opened #141 "`taco::fill()` density parameter is incorrect"
Currently, the actual density is the square of the parameter passed in (for a square tensor).  More generally, it is the density passed in multiplied by the first dimension.

We should make this be the actual target density.

[2018-03-07 13:01] tmarkovich opened #142 "Question: Dynamic Tensors?"
Hi,

I'm looking to store a dynamic directed multigraph as a sparse adjacency tensor, where two dimensions represent the vertices and the third represents the edge type. and my graph will grow and contract in all three dimensions. It appears that I can do this with a base tensor (at least the growing) using the `insert` command but this feels like it's going to potentially be inefficient. Is there

[2018-03-14 03:14] lijiansong opened #143 "cmake build error"
CMake Error at tools/CMakeLists.txt:7 (SET_TARGET_PROPERTIES):
  SET_TARGET_PROPERTIES called with incorrect number of arguments

[2018-03-14 20:45] fredrikbk commented on #143
Hi, thanks for the report! What environment (OS, CMake version) are you using?

[2018-03-15 15:19] lijiansong commented on #143
@fredrikbk
Linux OS:
`Linux version 3.10.0-514.6.1.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-11) (GCC) ) #1 SMP Wed Jan 18 13:06:36 UTC 2017`

cmake version:
`3.10.0`

[2018-03-19 16:29] qnzhou opened #144 "Support for Kronecker product"
Hi there,

I am new to taco, but it has been amazingly easy to use so far.  I am wondering if there is support for Kronecker product of matrices.  e.g.

![image](https://user-images.githubusercontent.com/3606672/37608088-d6ee048e-2b56-11e8-946e-7bca7e2a719d.png)

While the following is possible:

[code]

But the output needs to be a matrix instead of a 4th order tensor because it will be fed into

[2018-03-19 17:28] #142 closed

[2018-03-19 20:14] tmarkovich opened #145 "`pack` overwrites existing data"
The following code:
[code]
outputs the following results:
[code]

It appears that calling `.pack` packs the data into the tensor as expected, but that it also over-writes all existing data in the tensor. It would be nice to have an incremental `pack` function if one doesn't exist.

[2018-03-19 21:06] tmarkovich opened #146 "Taco appears to generate code that goes out of bounds"
When I run the following code:

[code]

I get stochastic results:

[code]

when compiled with g++ tmp.cc -std=c++14 -ltaco

[2018-03-20 14:42] fredrikbk commented on #144
Hi @qnzhou! I'm thrilled you're finding taco easy to use!

This is a cool problem that's come up in different variants in QCD and in optimizing expressions. You need to combine coordinates in some tensor dimension indexings, something like `C(i x j, k x l) = A(i,j) * B(k,l)`. Building this into the code generator is in our roadmap, but tricky and will take some time.

An alternative solution we ca

[2018-03-20 15:06] fredrikbk commented on #145
This does not exist, but would be nice. (In general, we need better abstractions for managing data.) Pack moves data from a stash area to the internal data structure. Perhaps, we could simply have an enum argument to the pack routine saying how the data should be combined (e.g., `replace`, `add`, `overwrite`). As a first step, this can be implemented as follows:

1. Iterate over the current data t

[2018-03-20 15:10] tmarkovich commented on #145
@fredrikbk This is not too dissimilar to what I've done internally as a workaround. I agree it's not necessarily ideal long term but getting the api in place such that it can be optimized in the future would be awesome.

[2018-03-20 16:57] qnzhou commented on #144
Thanks Fredrik!  The reshape approach works.  I am not too worried about the performance at the moment.

[2018-03-20 17:41] fredrikbk commented on #144
Great, we'll figure out how to get it done as well as a timeline on our side then. We have meetings today so we should know more by tomorrow.

[2018-03-22 15:22] fredrikbk commented on #146
Test case:
[code]

[2018-04-10 03:36] #143 closed

[2018-04-10 17:47] NateAM commented on #82
Has any work been done on this yet? Not being able to do transposes (i.e. A(i,j) = B(j,i,k) * c(k)) is a show-stopper for me.

[2018-04-13 13:30] fredrikbk commented on #82
Hi @NateAM.

Your expression is fine, provided B's dimensions are stored in order 1,0,2, which can be done by making it's format `Format(sparse, {1,0,2})`. The rest of this answer, however, assumes that you need the tensor to be stored from inner to outer dimensions: 0,1,2.

Short-term we should implement a transpose as a library function. This would mean the transpose must be stored in an interme

[2018-04-13 15:07] NateAM commented on #82
Hi @fredrikbk

That would be great! I will need my tensor B to be stored as 0,1,2 so I will need to wait for the transpose implementations since I don't have the expertise to implement this efficiently.

When you say short and medium term what kind of time frame do you mean?

[2018-04-13 15:14] fredrikbk commented on #82
That's what I thought :)

By short-term I mean this month (since you need this). By medium term I mean this year (the research is looking good).

[2018-04-13 15:16] NateAM commented on #82
Great! I will keep my eyes open for it then.

[2018-04-13 15:19] fredrikbk commented on #82
Awesome! If you're willing to share, we'd also be interested in learning more about what you want to use taco for.

[2018-04-13 15:28] fredrikbk commented on #82
Very interesting!  I'm guessing that, since it is structural mechanics, your tensors might be sparse?

[2018-04-13 15:33] NateAM commented on #82
In the continuum framework some of my tensors are sparse (sixth order tensor of dimension 3) while some are also of the same size and dense. I do have symmetries that could also be exploited.

i.e. C_ijklmn = C_lmnijk

and things like that.

From: Fredrik Kjolstad
Sent: Friday, April 13, 2018 9:28 AM
To: tensor-compiler/taco
Cc: NateAM; Mention
Subject: Re: [tensor-compiler/taco] Tensor Transpose

[2018-04-16 19:03] tmarkovich commented on #82
@fredrikbk thanks for thinking of me! I'm still interested, but this isn't a top priority for me so if someone wants to implement transposes that's not a problem. I'm currently working on the interface changes for packing and data access are higher priority.

[2018-04-16 19:27] fredrikbk commented on #82
Cool, the packing interfaces sound great! We'll implement the transpose on our end this week or next then since @NateAM needs them sooner.

[2018-04-16 19:49] NateAM commented on #82
That would be great!

From: Fredrik Kjolstad
Sent: Monday, April 16, 2018 1:27 PM
To: tensor-compiler/taco
Cc: NateAM; Mention
Subject: Re: [tensor-compiler/taco] Tensor Transpose (#82)

Cool, the packing interfaces sound great! We'll implement the transpose on our end this week or next then since @NateAM needs them sooner.
—
You are receiving this because you were mentioned.
Reply to this email d

[2018-04-26 21:00] RSenApps commented on #82
@NateAM Let me know if this works for now. I will continue working on the more efficient implementation.

[2018-04-26 21:10] RSenApps commented on #82
Your code should look something like one of the following:
`
Tensor<double> Bt = B.transpose({1,0,2});
Tensor<double> Bt = B.transpose({1,0,2}, Format({Sparse, Sparse, Dense}, {2, 1, 0}));
Tensor<double> Bt = B.transpose("Bt", {1,0,2}, Format({Sparse, Sparse, Dense}, {2, 1, 0}));
Tensor<double> Bt = B.transpose("Bt", {1,0,2});
`
If a format isn't supplied, the transposed tensor will have the same

[2018-04-26 21:36] NateAM commented on #82
Thanks for your work Ryan! I will try this out as soon as I can.

Just to make sure I understand (and maybe this is the usual syntax for Taco and I need to read the docs) what is the function of the second and third arguments in the following command?
`Tensor<double> Bt = B.transpose({1,0,2}, Format({Sparse, Sparse, Dense}, {2, 1, 0}));`

[2018-04-26 22:49] RSenApps commented on #82
No worries @NateAM glad I could be helpful.

The first argument for Format specifies the ModeTypes (is each dimensions sparse or dense) and the second argument specifies the order that dimensions are stored. I'm going to close the issue, but please let me know if you run into any issues.

[2018-04-27 13:03] #82 closed

[2018-06-27 16:58] #131 closed

[2018-06-27 17:00] #104 closed

[2018-06-30 20:02] fredrikbk opened #152 "Mode-index datatypes should be made part of ModeType"
Currently separate arrays in Format.  See e.g. `Format::setLevelArrayTypes`.

[2018-06-30 20:18] fredrikbk opened #153 "Move iterator functionality from Tensor to TensorStorage"

[2018-07-05 16:52] ofmla opened #154 "How can I swap two 2nd order tensors (matrices)"
I have two tensors like that
Format  bdv({Dense,Dense})
Tensor<double> x({m, n}, bdv);
Tensor<double> y({m, n}, bdv);
that I need to swap. Rather than just copy the data within the arrays, it would be more efficient just to swap the arrays, but they are not pointers I thought.  How can I do that? I do apologize if it is a silly question.

[2018-07-05 18:21] ofmla commented on #144
**@qnzhou** I'm experiencing the same problem with a Sparse matrix-vector multiplication with the matrix in BCSR format (4th order tensor). The output is a matrix instead of a vector. Is there a possibility of sharing your piece of code to perform this task? so I can just look it up and modify and put into my code. Thanks

[2018-07-05 18:54] qnzhou commented on #144
I don't have any code to perform this task that works with taco, but I think it is on the todo list of the development team.

[2018-07-06 00:45] eric-haibin-lin commented on #129
I'm curious if there's any update on the GPU codegen roadmap?

[2018-07-06 05:51] eric-haibin-lin opened #155 "regarding tensor format"
A few questions regarding tensor format in taco:
- Does the CSR format in taco support duplicated entries? In scipy, duplicate entries are added up together
- For CSR, are the indices of non-zeros in each row sorted in an ascending order, or it doesn't matter? In scipy, there's an option to sort_indices

[2018-07-06 07:12] fredrikbk commented on #144
Hi, I've been working on a new lowering framework that will include coordinate combining, so it's definitely on our list.

The eta for this is August. @ofmla do you need the BCSR multiplication to go directly to a vector, or is a temporary data copy step acceptable to you?

[2018-07-06 07:18] fredrikbk commented on #154
Hi @ofmla.  There's methods in the `TensorBase`/`Tensor` class to get and set storage.  The `getStorage` method returns a `TensorStorage` object, which is a smart pointer to the underlying storage of the tensor, and `setStorage` sets storage.  You should be able to copy-free swap them with something like:

[code]

[2018-07-06 07:23] fredrikbk commented on #155
Hi @eric-haibin-lin, I'm guessing scipy adds the entries together when the matrix is packed?  This is the way taco does this too, however:

- @stephenchouca has been working on an extension to taco that will also let us compute with tensors that have duplicates in them.
- I believe @tmarkovich is working on an improved data import interface with more flexibility.

[2018-07-06 07:50] fredrikbk commented on #129
Hi, yes, I'll be starting implement the GPU backend in August.  We have a project together with Nvidia and this will be part of it.  We have the hardware and I just need to get through the rewrite of the lowering machinery and then this is next.

[2018-07-06 12:45] ofmla commented on #144
The result mapped into a vector would be ideal but I can work on a matrix. Could I do a copy to a vector after just by using a loop and playing with indices right?

[2018-07-06 15:38] eric-haibin-lin commented on #155
Yes, scipy adds the entries together. For the second question, I’m just wondering if taco requires sorted indices and takes advantage of that during computation.

[2018-07-08 20:09] stephenchouca commented on #155
Currently taco does require sorted indices. The extension we've been working on will also support computing directly with unsorted indices, though we will still be able to generate more optimized code for operands with sorted indices.

[2018-07-08 21:09] eric-haibin-lin commented on #155
Thanks for the explanation!

[2018-07-08 21:09] #155 closed

[2018-07-11 18:43] Ravenwater opened #156 "Compilation fails on master"
In addition to lots of warnings, I am running into a compilation error for simplify.cpp in the ir.h.

[ 29%] Building CXX object src/CMakeFiles/taco.dir/lower/merge_lattice.cpp.o
[ 30%] Building CXX object src/CMakeFiles/taco.dir/ir/simplify.cpp.o
In file included from /home/stillwater/dev/clones/taco/src/ir/simplify.cpp:6:0:
/home/stillwater/dev/clones/taco/include/taco/ir/ir.h: In function ‘cons

[2018-07-12 07:09] stephenchouca commented on #156
It looks like a problem with missing headers. Can you try the latest commit and see if that resolves the issue? As for the other compiler warnings, I can take a look if you post them here and/or let me know what compiler you're using.

[2018-07-12 11:56] Ravenwater commented on #156
Latest commit has new problems:
[ 27%] Building CXX object src/CMakeFiles/taco.dir/ir/ir.cpp.o
/home/stillwater/dev/clones/taco/src/ir/ir.cpp: In static member function ‘static taco::ir::Expr taco::ir::Li                                        teral::zero(taco::Datatype)’:
/home/stillwater/dev/clones/taco/src/ir/ir.cpp:96:39: error: call of overloaded ‘make(uint64_t)’ is ambiguous
       zero = Li

[2018-07-13 13:53] Ravenwater commented on #156
Trying on a newer system: Ubuntu 18.04, g++ 7.3.0, ir.cpp still has issues:

[code]

did I catch a bad master check-in?

[2018-07-14 09:12] stephenchouca commented on #156
It seems the problem is that on MacOS (which most of us use for development) `(u)int64_t` is a typedef of `(unsigned) long long int`, while on Linux it is a typedef of `(unsigned) long int` instead. 48fc577 fixes the issue by changing `Literal::make` to take only fixed-width integers as input and should compile and run on both Linux and MacOS. Let me know if you encounter any more compilation erro

[2018-07-14 13:11] Ravenwater commented on #156
Awesome, thank you very much for the fix, I am now able to build the tool set on Linux and WSL. From the CMakeLists.txt it is clear that you are not supporting MSVC as all the compiler flags are gcc specific. Any interest in me trying to add Windows/MSVC support to taco? We are working on tensor processor hardware and your research is a perfect fit for the front-end of our tensor processor, but Ap

[2018-07-14 13:11] #156 closed

[2018-07-16 07:46] stephenchouca commented on #156
That would certainly be very cool I think. Any thoughts on this @fredrikbk?

[2018-07-16 22:20] ofmla commented on #154
Hi @fredrikbk, do you have a simple code that shows how to use the code generated by the taco web tool, I mean a C code that uses the header file generated by the tool. It was very useful.

[2018-07-18 12:20] fredrikbk commented on #156
@Ravenwater Windows compilation would be great. Perhaps you'd be interested in giving it a shot if taco works out for you on Linux? @shoaibkamil I think you had some thoughts on windows compilation a while ago?

I also think taco can be a great fit for tensor hardware. I'm rewriting our lowering machinery and I'm aiming at making the new iteration more of a lowering construction toolbox so that di

[2018-07-18 12:22] fredrikbk commented on #154
@ofmla, I don't but it should be straight forward to use it except for the fact that the code generator doesn't yet generate the code to pack coordinates to the required tensors. So you'd either have to use the taco library for this or write custom code. The new format machinery of @stephenchouca will generate the code at some point though, and then we'll add those functions in the generated code.

[2018-07-18 12:25] fredrikbk opened #157 "Continuous testing"
We need a continuous testing server to ensure taco compiles and works with different compiler versions on different platforms (gcc, clang, linux, macos). It should run tests every time we commit to master and send emails if something fails.

For example, we can set up a Jenkins server on CSAIL OpenCloud.

[2018-07-18 12:32] Ravenwater commented on #156
Yep, I am definitely interested to get my hands dirty in this piece of code, and since my working environment is Windows that would all be par for the course. @shoaibkamil, please ping me so that I don't reinvent the wheel in the wrong image.

Very interesting to hear about the lowering toolbox, that definitely would make tensor hardware easier to innovate around. I'll be looking forward to that p

[2018-07-18 12:33] fredrikbk commented on #156
I'll do most development on a branch and try to test with GCC linux when I move it to master. With that we should avoid most of the Linux breakage.

I've also opened #157 on continuous testing so that we can get rid of these problems.

[2018-07-18 12:54] Ravenwater commented on #157
are you open to use some of the open source CI platforms (travis, codeship, appveyor, etc.?)

[2018-07-18 13:09] fredrikbk commented on #157
Definitely, I'm not particular to any platform. Which one do you recommend? We'll need to set up git commit hooks and to compile and test remotely (through SSH or something similar).

[2018-07-18 13:17] Ravenwater commented on #157
One of our contributors on the posit number system suggested AppVeyor as it supports Windows builds. I haven't build any CI pipelines with AppVeyor so can't judge if it is productive or not. We are using CodeShip as they have a nice container workflow, but CodeShip doesn't have the Windows support, so I feel that AppVeyor might be the better path.

[2018-07-18 13:29] fredrikbk commented on #156
@Ravenwater if I remember correctly, then @shoaibkamil insight was that Windows is moving towards disallowing executing arbitrary memory, which rules out LLVM online backends. Our system, however, calls a system compiler followed by dlopen (or similar) and should therefore still work on Windows. @shoaibkamil is that correct?

I'll keep you updated about the paper. We're thinking of writing it abou

[2018-07-18 14:15] Ravenwater commented on #157
just tried AppVeyor to create a Windows build for stillwater-sc/universal and it is pretty straight forward. I  like the web UI, very informative. So, AppVeyor is a good candidate. I'll try to get sharp on it.

[2018-07-18 17:33] shoaibkamil commented on #156
Yes, that’s correct: on Posix-y systems, we write out the file and call the system compiler to generate a shared library that we subsequently dlopen().

On Windows, we should be able to call cl.exe and then use LoadLibrary or similar to load the resulting compiled shared library.

@ravenwater, let me know if you need guidance on what to modify within taco.

[2018-07-18 19:43] Ravenwater commented on #156
@shoaibkamil I will need to get more familiarity with the taco code base before I'll attempt a modification. Once I feel that I understand how the system is put together, I'll definitely give you a ping.

I am keenly interested in the IR and how we could execute that IR directly in our tensor processor. The reason for offering to create a Windows port is because of our dev environment being Window

[2018-07-19 19:43] fredrikbk opened #158 "Print emitted merge tree"
Print the _merge tree_ of expressions that are recursively emitted for different merge cases.

For example, the merge tree for CSR matrix addition is:

[code]

[2018-07-20 16:43] ofmla commented on #154
OK, and what about a sparse matrix-vector product defined as
y = alpha*op(A)*x + beta*y, where op(A) = A^T or just A, it is supported by the mkl function mkl_sparse_?_mv. I see something similar in your paper "The Tensor Algebra Compiler", a MATTRANSMUL operation, but it used an additional vector z. Can I perform such operation overwriting the existing y vector? I need to do the multiplication abo

[2018-07-26 12:58] fredrikbk opened #160 "Use mode capabilities to allocate memory"
This code must be rewritten to use mode capabilities to allocate memory.

https://github.com/tensor-compiler/taco/blob/02ac939b54418b3d9f9f7359a3d446814e588a20/src/lower/lower.cpp#L432-L453

[2018-08-04 13:50] LucaCerina opened #163 "Scalar multiplication with changing scalar"
Hello everyone,
I am testing taco on a sparse vector times scalar program, but I am having some issue in the flow to follow.

The equation is in the form
y(i) = A(i) * c() or y(i) = A(i)*x
both works fine and I obtain the correct result. However, I don't understand how to change the value of the scalar to perform a new computation.
Calling y.compile() again crashes the program, but calling only as

[2018-08-04 18:57] zhezhouzz opened #164 "taco assembly generate useless code"
version: master branch(commit 6a75daccc1844db69d5f93f0bc4520c5f27b7b5a)
run in commandline: `taco "y(i)=A(i,j)*x(j)" -f=y:d:0 -f=A:dd:0,1 -f=x:d:0 -write-source=taco_kernel.c -write-compute=taco_compute.c -write-assembly=taco_assembly.c`
generate:
`// Generated by the Tensor Algebra Compiler (tensor-compiler.org)
for (int32_t iA = 0; iA < A1_dimension; iA++) {
  for (int32_t jA = 0; jA < A2_dimens

[2018-08-06 19:53] fredrikbk commented on #154
Sorry, didn't see this before. You cannot use the result on the right-hand side, but you should be able to do use `+=` to overwrite the result.

[2018-08-06 19:59] fredrikbk commented on #164
The code generator in taco was recently extended with features to eventually support more formats.  I don't know what's wrong in this case, but It looks like @stephenchouca will take a look.  For your information, I'm rewriting this code generator yet again to be simpler and more robust.

[2018-08-06 20:02] fredrikbk commented on #163
Hi, with the current frontend API you should be able to call something like `x.getStorage().getValues()[0] = 42;` to change the value of `x`. We're working towards simplifying these APIs.

[2018-08-06 20:33] stephenchouca commented on #164
Previously the code generator was hard-coded to not emit the assembly loops when the output is fully dense, though you'd actually get a similar problem with formats like `(sparse,dense)`. I had some ideas for a hopefully more robust fix, which I can look into it more after @fredrikbk's done with the code generator rewrite.

[2018-08-07 08:20] LucaCerina commented on #163
Worked flawlessly with c(), does not work with a double constant (not a Tensor) 'x' because of course it does not provide the getStorage method.
I guess that the Storage part of the code could be documented better in the docs.

Thank you

[2018-08-07 08:20] #163 closed

[2018-08-07 12:43] fredrikbk commented on #163
@LucaCerina you are right, it absolutely should be documented better. The reason why it's not is that it's still in flux. We've focused on the code generation machinery and want to circle around to clean up the storage system.

Glad it works for you though!

[2018-08-20 22:10] Roipo opened #167 "Avoid .pack() with when using different values, but same sparsity pattern"
Is there a way to speed up the tensor construction if all that changes is the values, but not the sparsity pattern? I have an iterative solver that keeps updating the values in a tensor, and .pack() takes a large chunk of the runtime. I assume that most of the time taken is for sorting the elements, which could also be done only once. Is there a way to only update the values?
To be clear, assume I

[2018-08-27 08:37] qd-codie commented on #132
I guess this would be a great addition. I'm working in the simulation industry and a lot of our problems are actually very sparse and symmetric. Symmetry saves a lot of memory in that case. It might be a blind shot, but does symmetry not just simply mean that we have e.g. a matrix `a[i,j]` and constrain `j` in memory `j >= i` (upper) or `j<=i` (lower) regarding the "diagonal"? @fredrikbk what do y

[2018-08-27 17:18] fredrikbk commented on #132
@qd-codie your constraints describe the loop bounds, but I see at least two additional challenges:
- We'd want some generalization to tensors and it's not clear exactly what that means. Do we allow any two indices to be permuted or any k indices? Do we allow any permutation of indices?
-  In taco we're aiming for generality, so we would want to make symmetric tensors work with any other tensor for

[2018-08-30 17:09] fredrikbk commented on #167
Hi @Roipo,

You should be able to update the values directly by calling, e.g., `A.getStorage().getValues()` to get the array containing the values (contiguously laid out in the order of the format) and then just writing to it.

Let me know if this does not work.

[2018-09-13 12:12] bigerl opened #168 "Access value by coordinate"
Maybe I am overlooking something.
I can't find an easy way how to retrieve the value stored at a coordinate in a tensor. Is there any way?

example:
[code]

[2018-10-03 20:14] Kasekopf opened #172 "Undeclared variables in generated code for large expressions"
When I run the following command with the code generation tool:

I get the following errors:

Similar errors occur when constructing and compiling this expression using the library. Note that slightly smaller expressions seem to behave correctly, e.g.:

[2018-11-05 09:22] Oblynx commented on #129
Hi, is there any update on this, now that as I understand the lowering work is done?

[2018-11-05 20:59] fredrikbk commented on #129
Hi @oblynx thank you for checking in. Out of curiosity, do you have a specific application you are interested in?

The lowering machinery unfortunately got delayed but @rsenapps have been working on a gpu backend in parallel.

@rsenapps do you have a rough estimate for the gpu backend?

My best estimate for the new lowering backend is at the moment the end of the year.

[2018-11-06 11:34] Oblynx commented on #129
Thanks for your great work! Using GPUs is an optimization for my application, not a primary requirement. If my application is to be deployed though in the future, they may prove crucial, so it is nice to know that there's progress and a clear goal on this one.
My project is the expression of a set of algorithms in sparse tensor algebra, implemented in Julia. My primary motivation is the clean and

[2018-11-13 16:47] Oblynx opened #176 "Plans to support custom semirings?"
In your paper you mention support for custom semirings as future work. Have you since explored that direction?

[2018-11-13 17:59] fredrikbk commented on #176
We looked at it a bit in the context of our new concrete index notation (https://arxiv.org/abs/1802.10574). It looks like we don't even need the operations to form a semi-ring to be able to create and transform correct code and that the basic building blocks like commutativity and distributivity is sufficient. We haven't designed it into the system, nor implemented anything yet. There's also the q

[2018-12-13 00:32] Oblynx commented on #176
I don't have a specific need for it now, but it's a potentially powerful generalization. Thanks for the update!

[2019-01-06 09:49] DJDDDM opened #179 "Block Sparse Tensors"
Are Block Sparse Tensors already supported or are there plan on supporting this?
Comming from Quantum Chemistry we often deal with sparsity limited to a specific range rather then a randomly equal distributed sparsity. Such Algorithms that work on these blocks need to stor less knowledge about the indices and therefore being faster then usual sparse Algorithms.

[2019-01-07 14:31] fredrikbk commented on #179
Hi @DJDDDM. Block sparse tensors should be supported by expressing them as higher-order tensors. So a blocked 3-tensor would become a 6-tensor. If the tensor is sparse with dense blocks it could be created with the format `compressed, compressed, compressed, dense, dense, dense` or some variant thereof to avoid storing unnecessary indices in the inner dimensions.

[2019-01-07 14:38] DJDDDM commented on #179
Thats possible. However having 6 instead of 3 dimensions would change the access.
A(i,j,k) would no longer refer to the same element. therefore the layer of abstraction in which the einsteinnotation is written would change due to changes of the underlying layers.
This is not a good design.
A(i,j,k) would become something like A(i,a,j,b,k,c) hence the multiplication would become unreadable

[2019-01-08 12:21] DJDDDM opened #180 "Functional Programming"
Just to be sure, I wanted to ask, if Taco supports functional programming in the following sense:
I have two equations in a loop like for example:
B(i,k)=A(i,j)*D(j,k)
A(i,j) = B(i,k)*C(k,j)
will that be the same as having one big equation (using nonindex notation for convenience):
A=B*C*D*C*D*C*D*C
therefore only when I call A.evaluate() (for example every ten loops (to check convergence for exam

[2019-01-08 12:57] DJDDDM opened #181 "Access elements"
How to access the elements of a tensor?
I want to write a testsuite so I can start working with taco using TDD.

[2019-01-08 13:20] Oblynx commented on #180
Hello,
About multiplying only in a certain range, I was thinking that this should
be done with selection matrices S:
Let S with S(i,j) in {0,1} be 1 only in the valid combinations of indices
(selected areas). Then, the total multiplication A(i,j)=B(i,k)*C(k,j) could
benefit restricted to a certain range by transforming it to
A(i,j)=(S(i,k).*B(i,k))*C(k,j)

On Tue, Jan 8, 2019, 10:21 Daniel Manz <n

[2019-01-10 10:21] DJDDDM commented on #168
I have not yet found a way for multidimensions, but there is a way for accessing the underlying array by index. I think getting the multidimensionality would be only syntactic sugar, you can do if you like.
The below example shows how to assert for two Tensors having the same Data.
I figured it out tracing down the operator<<().
It would be nice if  the developers could add that function (would be

[2019-01-10 10:21] DJDDDM commented on #181
In Case someone stumbles upon this:

for (int i = 0; i < Actual.getStorage().getValues().getSize(); i++){
		int actual = static_cast<const int*>(Actual.getStorage().getValues().getData())[i];
		int expected = static_cast<const int*>(Expected.getStorage().getValues().getData())[i];
		assert(actual == expected);
	}

[2019-01-10 15:10] oicirtap commented on #181
There are currently two approaches to accessing the elements in a tensor. The first one (as you noted in your example above) is to access the underlying `Storage` object in the tensor, and operate on the data stored in it. The second one is to use the `begin()` and `end()` methods in the Tensor class to obtain an iterator over the elements of the tensor.

We are currently working on a new interfac

[2019-01-10 15:12] DJDDDM commented on #181
Can you show an example for the begin() end() method?

[2019-01-10 15:23] oicirtap commented on #181
The `writeTNS ` function in file_io_tns.cpp:104 implicitly uses `begin()` and `end()` by iterating over the elements of a tensor in the for loop of line 105.

https://github.com/tensor-compiler/taco/blob/6a75daccc1844db69d5f93f0bc4520c5f27b7b5a/src/storage/file_io_tns.cpp#L104

[2019-01-15 16:33] DJDDDM opened #183 "Diagonalizer"
Since a lot of scientific programming uses diagonalizers I wonder if there already exist a taco-compatible algorithm with taco-Tensors as in- and output?
I am thinking about writing my own, but its probably quite complicated.
I could use a standard one, but taco makes it quite hard to extract the underlying array.
But if someone has an easy way to get a standard c++ array, that would also help.

[2019-01-16 01:03] srobertp opened #184 "USing workspaces (for example, for SPMM)"
Hi, I am attempting to recreate the spmm with workspace example in order to better understand how to use the TACO compiler.  I have tried a number of different ways and have not been able to get it to generate the workspace formulation.

I will give example of three ways I have tried, I hope you can advise on a better way :)

1)  I observe that the method and API described in the workspace paper i

[2019-01-21 15:44] fredrikbk commented on #179
I agree it is not good design and results in hard to read expressions.  We plan to build a layer on top of this where you can express blocked tensors that can be indexed with the appropriate number of index variables.  These expressions would then be rewritten to expressions with more index variables under the hood.

I'm patching in @oicirtap who is working on a redesign of the user-facing APIs.

[2019-01-22 13:37] DJDDDM commented on #179
by the way. do you need more programmers or are you fine and just need a bit time for the api? I am planning on adapting taco for my needs, but these changes might be useful for others too.

[2019-01-22 15:22] oicirtap commented on #179
We plan to release a draft of the finalized API before next week, so we can receive feedback and comments from taco users. The new API is quite ambitious in what we want it to achieve, so a full implementation will not be available quite yet, but we could patch to the current API some QoL changes such as the above proposed layer of abstraction for blocked tensors, and other methods. I'd be interes

[2019-01-22 15:44] DJDDDM commented on #179
I disagree in the linking.
I would go with the block method.
But having 2 possiblities.
First one like above to set the shape of all Blocks.
    Tensor A({50,50},blockdense)
    A.block.all(5,5,dense)
To create a Matrix with 5by5 blocks together in a 10by10 supermatrix resulting in a 50 by 50 Tensor (everything two dimensional).
Second to shape the Tensor into blocks
    Tensor A({50,50},blockspar

[2019-01-22 16:43] oicirtap commented on #179
As for the first approach, I agree that it is much more intuitive to perform the block transformation with a `block` method. Also, blocking all dimensions with your `A.block.all` notation would also be pretty useful.

As for the second approach, I don't think taco is currently capable of compiling code for this kind of custom dimension in which ranges of a single dimension are part of a block, whi

[2019-01-22 17:54] fredrikbk commented on #179
I haven't spend sufficient time yet thinking about blocking but, of the cuff, I'm thinking some way to specify blocking to the `Format` constructor.  I think it's probably more convenient to express blocking in terms of blocks (in English, "a sparse matrix with 3x3 dense blocks") instead of in terms of dimensions ("this dimension is blocked and so is that"). @DJDDDM do you agree?

These two approa

[2019-01-22 17:55] fredrikbk commented on #179
@DJDDDM, yes, our main issue is one of programming manpower. We're redesigning the compiler core, which requires a lot of research that's sucking a lot of our time, and at the same time trying to redesign the API.

[2019-01-23 05:17] stephenchouca opened #185 "Result initialization loop not parallelized"
For instance,

[code]

generates the following compute code:

[code]

[2019-01-23 16:26] fredrikbk commented on #184
Hi @srobertp,

Thank you for bringing this up.  We are still getting the new workspace and format features into the master branch, as we are rewriting the internal compiler machinery.  It will take us some time to put everything together with limited resources.  I believe we'll have the new compiler machinery and these optimizations implemented within the next two months.

The initialization of wo

[2019-01-23 17:56] fredrikbk opened #187 "Request for testimonials"
We are looking looking for testimonials to demonstrate impact of taco, so if you have successfully used it for some purpose then we would really appreciate a short email mentioning it at `fred@csail.mit.edu`.

Thanks!

[2019-01-24 09:50] DJDDDM commented on #179
If I could like I wanted I would adapt Taco in the following ways.
1. Blocking as above
2. writing a comparison operator which only checks the data of the tensor and not the name and so on (I know there is the equals function but it doesnt allow for Tensors as input).
3. writing a print function showing two dimensional Tensors as Matrices instead of the array. similiar to how eigens print function

[2019-01-24 10:31] DJDDDM commented on #179
I forgot 11. A Diagonalizer written in Taco

[2019-01-25 09:14] DJDDDM commented on #179
12. Slicing. (Defining Indexvar i(0,5) should make A(i) a part of the total Tensor A which only goes from 0 to 5 instead over the whole range of A.)

[2019-01-25 09:33] DJDDDM commented on #179
13. A.iscompiled() and A.isassembled() return false or true.

[2019-01-25 10:31] DJDDDM commented on #179
14. assemble/compute should check if the tensor still has the format that it had at compile.

[2019-01-28 18:24] oicirtap commented on #179
@DJDDDM Thanks for the suggestions. This is good feedback that allows us to understand better what users are looking for in our tool. You suggestions all have different levels of difficulty in terms of the time it would take to incorporate them into the library, but I'll make sure to discuss and consider all of the above.

We are already working on a number of your suggestions, but I cannot promis

[2019-01-30 23:27] oicirtap opened #189 "RFC: Tensor API"
This issue presents a draft for the new API for Tensor objects in taco. This new API targets to address a number of issues with the current API, as well as integrate new features for increased functionality, simplicity and code portability. Think of this thread as a means for providing user feedback for the proposed new design. See the bottom of this post for links to other related github issues.

[2019-01-31 10:17] DJDDDM commented on #189
This looks really good.

However I have a few minor things:

1. RangedIndex
in cases like
    A(i,j) = B(i,k(0,10)) * C(j,k(0,10))
I would prefer to be able to
    RangedIndex k(0,1)
    A(i,j) = B(i,k) * C(j,k)
to do the same.
In longer equations it would give a problem having to write the same range multiple time.

2. Inserting sparsity or removing values
With better inserts can we also have a m

[2019-02-01 01:05] fredrikbk commented on #189
We will work on better error reports for the new version for sure. We’ve been working hard to clean up the theory and think we’re getting there.

The new version will have a hand-written transpose method, like you suggested in an earlier issue. We are however working on a theory for generating transpose code, even together with other expressions, but that will come later (and only of course if it

[2019-02-06 14:23] jcrbloch opened #191 "max and rescale"
Two questions:
a) Is there a way to determine the maximum value of all entries of a tensor?
b) Is there a way to rescale the entire tensor with that value?

[2019-02-06 15:01] fredrikbk commented on #191
In the current version, you have to iterate over the components in the tensor with a `foreach` loop to find the max.  You can then multiply the tensor by that value using index notation, e.g. `A(i,j,k) = alpha * B(i,j,k)`.  This statement is out-of-place and copies your tensor.  We don't have `*=` overloaded yet (@oicirtap).  In the next version, planned for this summer, we will support in-place `

[2019-02-06 15:09] jcrbloch commented on #191
Dear Frederik,

Thanks for you very quick answer. I did not know that C++ had a foreach construct. As I want to have a routine that works for any tensor order, I implemented the max-function as following: (it computes the maximum of the absolute values, as this is what I need)

double max(Tensor<double> &T)
{
	Array content=T.getStorage().getValues();
	double *data = (double*)content.getData();

[2019-02-06 15:12] jcrbloch commented on #191
Could you tell me how the foreach loop would look like? What are the start and end iterators of the tensors? I just startet looking at taco last night, so I am pretty new to it. As the documentation is sparse I am looking through the source to try and locate which routines could be useful to me.

Thanks,
Jacques

---
Dr. Jacques C.R. Bloch
Institute for Theoretical Physics
University of Regensburg

[2019-02-06 15:15] jcrbloch commented on #191
To avoid having two copies of the tensor when rescaling it, I implemented the rescaling like this:

void rescale(Tensor<double> &T, double s)
{
	Array content=T.getStorage().getValues();
	double *data = (double*)content.getData();

	for (size_t i=0; i<content.getSize(); i++)
		data[i] /= s;
	cout << "rescaled\n";
}

Saving storage is extremely important in my application, so I want to avoid unnece

[2019-02-06 15:16] fredrikbk commented on #191
That does look okay and fairly fast.  By accessing the values memory directly, however, you do make it less portable to new formats. This will work for any combination of dense and compressed, however, it will not necessarily work for future formats that may store value memory discontiguous with holes that are not initialized.  That is pretty far-fetched at this point though and it may be acceptab

[2019-02-06 15:17] fredrikbk commented on #191
For your application I would go with what you've written above as its faster and, for elementwise operations like yours, correct for formats we currently support.

[2019-02-06 15:23] oicirtap commented on #191
An example of iterating over non-zeros of the tensor can also be found here:

https://github.com/tensor-compiler/taco/blob/6a75daccc1844db69d5f93f0bc4520c5f27b7b5a/src/storage/file_io_tns.cpp#L104

As for scaling the vector, currently your proposed solution is probably the best way to do so. Iterating over the values of a tensor currently does not allow you to modify them within the tensor as far

[2019-02-06 15:28] jcrbloch commented on #191
Thanks for your replies and comments!

[2019-02-06 15:37] jcrbloch opened #192 "variable index ordering"
I am contracting two tensors, but in one of the tensors the order of the indices is dynamical, i.e. the order of the IndexVars changes for various calls of that contraction. As a simple example, I could have either T(i0,i1) or T(i1,i0). The position of the indices i0 and i1 is given in a vector of positions. In my real example I have this for a tensor of order 6. Is there a simple way to implement

[2019-02-06 15:49] jcrbloch opened #193 "Fixing index"
Is it possible to fix an index to an "external" value when performing a contraction. An example would be:
y(i) = A(i,j) * x(j,k)
where k would have some fixed value. I don't want to include the index k in the tensor y for storage reasons.

[2019-02-06 17:05] jcrbloch opened #194 "reducing"
I am trying to reduce the order of a tensor, as seemingly fixing one of the indices in a contraction is not possible. To reduce one mode of the tensor I contract with a tensor of order one with only a single element put to 1.0. When using compressed mode (sparse matrices), the result is wrong. Some elements are correct, while others have arbitrarily large values. When changing to dense mode the co

[2019-02-06 17:11] jcrbloch commented on #194
In connection with my remark: Is it possible that cout is printing all tensor components in compressed mode, but that the "zero" ones are printed with a wrong value? So just the output would be wrong, but not the actual calculations using the tensor?

[2019-02-06 18:59] stephenchouca commented on #192
Instead of passing the index variables as separate arguments, you can actually just pass in a single vector of index variables as argument. For instance, `T(i0,i1)` is equivalent to `T({i0, i1})` or `T(ivars)` where `ivar[0] == i0` and `ivar[1] == 1`.

[2019-02-06 20:22] oicirtap commented on #193
Just to clarify, in your expression, you want to access a vector slice of x and perform Matrix vector multiplication? Say, having k=0 for example? If so, we are currently working on enabling tensor slices for operations as part of our proposed new API. It is not currently supported though.

Does this answer your question?

[2019-02-06 20:25] oicirtap commented on #194
Could you provide an example of the index expression you are using to define the computation?

[2019-02-06 20:28] jcrbloch commented on #193
That is almost what I need, but not exactly, I need  a tensor-tensor
contraction where I want to keep one or more indices of the input tensors
fixed. In other words, some of the input tensors are implicitly of used as
tensors of lower order.

and perform Matrix vector multiplication? Say, having k=0 for example? If so,
we are currently working on enabling tensor slices for operations as part of
ou

[2019-02-06 20:40] jcrbloch commented on #194
An example would be

T(x,y) = A(x,y,z,t) for fixed z and t

[2019-02-06 20:40] jcrbloch commented on #193
In more detail, I am looking for something like:

C(x1,x2) = A(x1,y1,z1,i1,i2) * B(x2,y2,z2,i1,i2)

In this example I am contracting A and B over i1 and i2 to construct a tensor with external indices x1 and x2, but for fixed values of y1,z1,y2,z2.

[2019-02-06 21:48] #191 closed

[2019-02-07 08:03] jcrbloch commented on #194
The naive and inefficient workaround that I have implemented is the following: Let's say that I have a tensor T of order 4, which I want to reduce to one of order 3 by keeping the second mode fixed to its 9th value:
[code]

[2019-02-07 09:29] jcrbloch opened #195 "evaluation hangs"
I have a very simple example of a contraction which hangs when evaluating the expression. I reduced the problem to a minimal example. In the code below there is one contraction that works and the second that hangs. The only difference between both expressions is the **order of the indices yb and zf** in the output tensor, everything else is identical. I add the stored input tensor T as zip file, s

[2019-02-07 10:06] jcrbloch opened #196 "Problem with reductions"
Somehow most of my reductions on higher order tensors are just wrong. Are there some unwritten rules about the order of indices in input and output tensors? I have for example something like:
`b(y2f,i,y1b,z1f,z1b) = U1(y1f,y2f) * T(i,y1f,y1b,z1f,z1b);
b.evaluate();`
The tensor U1 is completely zero, up to a single 1.0. This means that b should very much look like T.
This is not what comes out of t

[2019-02-07 12:34] jcrbloch opened #197 "Reordering"
Is there a way to convert an existing tensor to a new tensor with the same content, but with the modes ordered differently? This would be a generalization of matrix transposition to tensors.

[2019-02-07 13:39] drhagen opened #198 "-print-nocolor should be -nocolor or vice versa"
The help for the taco command line tool says that the `-print-nocolor` should disable color when printing. However, this flag is not recognized and the command errors. Digging into the source code reveals that the flag is actually called `-nocolor`, which works as expected. Is the help correct or is the behavior correct?

[2019-02-07 13:56] jcrbloch commented on #195
Now I just had a thought that scared me. Is taco written such that one can/should only make a reduction of a single index? Right now I am using taco to reduce multiple modes at once. It would be nice to get a feedback about this too.

[2019-02-07 16:16] jcrbloch commented on #192
Thanks for the useful tip. However, it does not work for what I am trying to do. One goal is to reorder the modes of a tensor. So to swap modes 0 and 2, and 1 and 3 I implemented:
[code]
This output tensor is just garbage. It only works if the order in both tensors is the same, which of course does not satisfy the purpose.

[2019-02-11 17:14] andrew-matteson opened #199 "This command causes segmentation fault during code generation"
This command is the offending one:
[code]

The problem lies with the `A2` tensor. If I set it to be `A2:dss:0,1,2` it will generate code; however, I don't think this code is correct.

Using the `dss` code, in the compute kernel, `pJ1` is uninitialized. If I fix that initialization to 0, then there seems to be a wrong answers; however, I'm driving this through a python wrapper, so the problem could

[2019-02-14 14:15] DJDDDM commented on #195
Check the online tool in such cases it has better error messages currently.

The problem is, that taco currently can't deal with swapping indices if you have i,j writing j,i somewhere in the same equation is an error but can be fixed by using the transpose functionality. Early Summer the new version is expected.

[2019-02-17 05:38] eric-haibin-lin commented on #139
I'm also interested in python binding. Think taco as the backend for scipy.sparse on GPU - that would be really cool.

[2019-02-23 22:51] suzmue commented on #197
hi @jcrbloch! I am currently working on adding transpositions of tensors, which will also be able to handle mode reordering

[2019-02-26 14:23] fredrikbk opened #201 "Second taco"
This issue tracks discussion for the [second taco project](https://github.com/tensor-compiler/taco/projects/3) with a redesigned `Tensor` APIs, rewritten compiler machinery, and support for coordinate formats.

[2019-02-26 14:35] fredrikbk commented on #181
Duplicate of #168

[2019-02-26 14:35] #181 closed

[2019-03-08 10:33] drhagen commented on #198
Also, `-nocolor` suppresses only a tiny fraction of the color that is typically printed.

[2019-03-08 16:07] anhwnguyen opened #204 "Integrating generated kernel for another apps"
I am still a bit unsure on how to integrate my generated kernel using the taco command line tool (with a new assembly/compute loop) for another computation that I have (that is similar to tensor_times_vector.cpp). Could someone point me to the document that I can find out more about this?

[2019-03-08 20:23] RSenApps commented on #204
What exactly do you mean by integrate? You can use the command line tool if you want just the kernel, but it is typically easier to use the library (like in the tensor_times_vector example). The library will compile the same kernel as the command line tool and wraps it in the Tensor class for the rest of your application to use.

Right now the Tensor API is fairly limited, but new features that wi

[2019-03-08 20:29] anhwnguyen commented on #204
So I used the command line tool in build/bin/taco to generate my own loop of A(i,k) = B(i,j) * C(j,k) to my own taco-generated-kernel.h. I have another file as the tensor_times_vector.cpp in the apps folder to test the computation. I just didn’t know how to use both of those files (that I generated) within the framework?

[2019-03-08 20:37] RSenApps commented on #204
Instead of using the command line tool, you want to add a new IndexStmt to do your other computation.

For example you can edit the tensor_times_vector example like the following

[code]
Or even combine the expressions to generate a more efficient kernel for your final result.

[2019-03-08 21:47] anhwnguyen commented on #204
I see, that’s what I have been doing instead. On that note, what should I do if I want to put some of my code inside the compile and compute functions then? From what I’ve known so far, those functions are in the taco_tensor.h/cpp file. However, it doesn’t show my changes (e.g some print statements) if I put them in those functions.

[2019-03-11 18:59] RSenApps commented on #204
What do you mean by put some code inside these functions? Specifically, what type of state does this code need to access and how does the code change the behavior of the program. There are various options depending on what you want to do. You could wrap the compile and compute methods with your own methods or you could integrate your code into the compiled kernels by modifying codegen_c.cpp, if yo

[2019-03-11 19:28] oicirtap commented on #204
Correct me if I'm wrong @anhwnguyen, but it seems like you want to experiment with changing the source code of the compiled `assemble` and `compute` methods for a tensor.

How the taco library works is that calling `compile` on a tensor will generate the appropriate `assemble` and `compute` methods for the specified IndexExpression (as exemplified by @RSenApps above). If you wish to experiment wit

[2019-03-11 19:34] anhwnguyen commented on #204
Yes! That was great, thank you so much!

[2019-03-14 03:26] anhwnguyen commented on #204
I have one more question if you happen to know the answer or could direct me to a good document/location in the code to start: After generating the new source code with my changes, how can I use that code with some of the existing sample matrices in the Data folder?

[2019-03-14 03:32] dongxiao92 opened #205 "reduction using the sum of IndexVar"
Thanks for your excellent work with taco. I'm working on using taco to achieve convolution operation but encountering a problem.
When I do the reduction across the channel and convolution filter dimensions, the compiler reports error of
"no match for ‘operator+’ (operand types are ‘taco::IndexVar’ and ‘taco::IndexVar’)
   output(oh, ow, ok) = input(oh+kh, ow+kw, ic)*weight(ok, ic, kh, kw);"

The c

[2019-03-14 03:37] oicirtap commented on #204
We have some file IO functions which allow us to read in mtx, ttx, and tns file formats and get Tensor and TensorBase objects. You can find `read()` and `write()` functions for this in `tensor.h`. You'd probably have to read a tensor and then compile your code into the returned Tensor object with `compileSource`.

`read()` and `write()` are not very fast (we have a pending task to speed up these f

[2019-03-14 03:56] oicirtap commented on #205
Just as you pointed out, taco does not support notation of addition of `IndexVar` objects. In taco, IndexVars are used to represent iteration over a tensor dimension, and taco requires the dimension of each tensor to be mapped to a single IndexVar. IndexVar addition is therefore not defined and this is why you are not able to compile your expression.

I am personally not very familiar with the not

[2019-03-14 08:24] dongxiao92 commented on #205
Thanks for you reply.
2D convolution requires two input tensors,the  3d tensor **image** and the 4d tensor **weight**, and generates a 3d tensor **output**. For each location**(h, w, k)** of the output tensor, the value is the 'inner-product' between the unrolled k'th slice of the **weight** tensor and a block of the **image** tensor. The block's location is determined by the location of the outpu

[2019-03-15 16:20] oicirtap commented on #205
To the best of my knowledge, taco is not currently capable of compiling convolution operations as the one you described, but it seems like an interesting possibility to explore. Maybe @fredrikbk has better insight about if there exists some compiler trick that can be used to simulate the operation though.

[2019-03-16 16:06] drhagen opened #206 "Evaluate function does not build indices"
My understanding is that the `evaluate` function is supposed to do the `assemble`  and `compute` steps at once. However, only the memory for the output `vals` is allocated in `evaluate`. This means that if the output has any sparse dimensions, the indices for them are never built.

Example:
[code]

The output of this makes no reference `A->indices` whatsoever so that the `evaluate` function leaves

[2019-03-16 18:01] #198 closed

[2019-03-16 18:04] stephenchouca commented on #198
My understanding is that `-print-nocolor` is the correct flag; that should be fixed with the latest commit. `-print-nocolor` should also now fully (as opposed to just partially) disable coloring.

[2019-03-16 18:08] stephenchouca commented on #206
This is the output I get when I run the above command, which does assemble the output indices:
[code]
Are you using the latest version of taco?

[2019-03-16 18:18] drhagen commented on #206
I pulled from master and now I cannot reproduce the issue. Sorry for the noise.

[2019-03-16 18:18] #206 closed

[2019-03-18 01:19] #164 closed

[2019-03-25 12:15] drhagen opened #208 "Evaluate function does not set vals_size"
Is the `evaluate` function supposed to emit code for assigning `vals_size` on the output tensor? See below where `assemble` does it , but `evaluate` does not.

[code]

[2019-03-25 15:43] drhagen opened #209 "Expression with doubly-compressed matrix do not compile"
Any expression that uses doubly-compressed sparse matrices pretty much does not compile. There is a variable called `<name><dim>_begin` that is used but not declared. Here is one example:

[code]

Here is the source of `evaluate` for reference:

[code]

[2019-03-25 18:04] stephenchouca commented on #208
That's the intended behavior since `vals_size` (i.e., the size of the values array) is only currently needed when assembly and compute are done separately, in the event that the compute function needs to zero-initialize the result values array before performing the actual computation. That said, the assembly function probably doesn't really ever need to explicitly store the size of the values arra

[2019-03-25 18:29] drhagen commented on #208
I agree that `vals_size` is redundant. I will update my code to avoid it in anticipation of its removal.

[2019-03-26 04:23] lazycal opened #210 "Expressions with result tensor using sparse format as first dimension not compile"
Compute kernel generated by `taco "A(i,j)=B(i,j)*C(i,j)" -f=A:sd -f=B:ds -f=C:ds` does not compile. It misses declaration of `pA1`. Also, I think there should be some updates to `pA1` in the for loop of `iB`.

[code]

Update:

Looks like the bug will be triggered when a dense is right after a sparse in the result tensor? (i.e. -f=A:xxx**sd**xxx.)

[2019-03-26 15:28] stephenchouca commented on #210
Thanks for reporting the issue. The latest commit should fix this; let us know if it doesn't.

[2019-03-26 21:58] stephenchouca opened #211 "New lowering machinery generates incorrect code for formats with permuted dimensions"
For example, `taco "A(i,j) = B(i,j)" -f=A:dd:1,0 -f=B:dd:1,0 -new-lower` generates the following code:

[code]

[2019-03-27 05:44] lazycal commented on #210
Thanks! It works now.

[2019-03-27 05:44] #210 closed

[2019-03-27 10:39] drhagen opened #212 "Dense matrix multiplicaiton fails depending on order of output indexes"
If I run `./taco 'A(i,k) = B(i,j) * C(j,k)'`, I get the correct matrix multiply kernel:

[code]

However, if I reverse the order of the output indexes `./taco 'A(k,i) = B(i,j) * C(j,k)'`, I get a kernel that does not compile:

[code]

[2019-03-31 09:56] MoritzN89 opened #213 "Deep copy of tensor"
I am about to write a wrapper to ease the value extraction of a tensor. Now, to access the values of the storage, one has to invoke the `pack()` function of the tensor instance first. However, if new tensor entries are inserted afterwards and `pack()` is called again, all entries inserted before the previous call seems to be vanished.

The only solution I currently have to access tensor values wit

[2019-04-01 13:29] drhagen opened #214 "All zero sparse outputs have unallocated indices"
[code]
gives this kernel:
[code]

This has a bug in it. `y1_pos` is correctly allocated to be length 2. `y1_pos[0]` is correctly assigned to be `0`. If `y` has no nonzero values, then `y1_pos[1]` also needs to be `0`. However, if there are no nonzero elements (because `A1` is all zeros, `c` is all zeros, or they just have no overlapping nonzeros between them), then `y1_pos[1]` is never assigned an

[2019-04-02 07:43] MoritzN89 commented on #213
@oicirtap I would like to work on this. Is it possible that I can help you in some way?

[2019-04-03 08:26] lazycal opened #215 "TACO failed to take broadcast into account"
``taco 'A(i,j)=B(i)+C(j)' -f=A:ss -f=B:s -f=C:s`` got incorrect assembly and compute loops, whose logic appeared as if equivalent to A(i,j)=B(i)*C(j). For example:

[code]

code for the above example:

[code]

This is the compute loop:

[code]

[2019-04-03 08:37] lazycal opened #216 "Assertion error on "Every merge lattice should have at least one merge point""
``taco 'A(i,j,k)=B(i,j,k)+C(i,j)' -f=A:sss -f=B:sss -f=C:ss `` got
[code]
I printed the params of `lower`(see below), it seemed to invoke `lower` on a temporary indexVar `tj`? Hope this helpful.
[code]

[2019-04-03 15:46] oicirtap commented on #211
I'm not sure if this is relevant, but it seems that the `makeConcrete` function in tensor.cpp does not take into account the tensor index orderings when generating the concrete IndexStmt. The resulting IndexStmt seems to be the same no matter what index orderings I use.

[2019-04-08 20:11] stephenchouca commented on #215
This should be fixed in the new lowering machinery that we are currently working on, which generates the following code for the example:

[code]

[2019-04-16 12:57] fredrikbk commented on #213
Apologies for the late reply. I believe he's been working hard on this piece but we'd love to involve you in the API development. @oicirtap, could you opine about possible ways to involve @MoritzN89 (if you're still interested).   @oicirtap will also  write a masters thesis and some documentation documenting his work.

[2019-04-16 17:07] oicirtap commented on #213
Sorry for the late reply. As Fred mentioned, if you are interested in adding deep copy functionality to the Tensor class that'd be great. Did you have a particular implementation in mind? I'd be happy to talk about different possible implementation and design decisions if it is helpful.

[2019-04-17 02:20] nt1tov opened #217 "Making a lot of D x S and D x D compiles leads to chrash"
In my research a need to test this lib and make about 20 * 10 * 4 new compilations for 1 my program run.
And taco gens to /tmp/ a lot of ".c", ".h" and ".so" files and do not cleans it for new compute.

A got this error every time:

Error ***/taco-master/src/codegen/module.cpp:140 in compile:
 Compilation command failed:
cc -O3 -ffast-math -std=c99 -shared -fPIC /tmp/taco_tmp_YxzKLP/sk1pjk2r2s4c.c

[2019-04-17 02:24] nt1tov opened #218 "How to use kernels?"
I've generated some kernels.h, how can I add it to my app without running taco compile every time?

[2019-04-17 10:55] ClmnsRck opened #219 "[bug] trying to compile the machinelearning example"
[code]

Before i got it to compile, after trying again, it did not work and gave me this error ...
when i ran the program i got this error:
[code]

[2019-04-17 11:39] ClmnsRck opened #220 "How to work with taco?"
I am currently trying to compare multiple libraries for tensor-algebra. (Fastor, Blitz++, Eigen, armadillo, Ftensor, Xtensor) and i would like to add Taco to the fold. I followed your build tutorial:
[code]

Now i would like to add taco to my testing program.
This is my current Makefile. As i have very little experience with build systems, the c++ linker or other stuff surrounding this, i would li

[2019-04-17 13:09] #220 closed

[2019-04-17 13:10] #219 closed

[2019-04-17 13:28] ClmnsRck opened #221 "Is there a Inverse function for 2D-Tensors?"
The title says it all, but is there a inverse operator, like numpys `pow(-1)`?

[2019-04-17 13:55] fredrikbk commented on #221
Do you want to independently invert every component (e.g. `10` becomes `0.1`), or do you want to invert a matrix as in gaussian elimination?

For component-wise inverses our [new lowering framework](https://github.com/tensor-compiler/taco/projects/3) will let us build support for arbitrary component-wise operations.

For matrix inversion, you can build some Krylov methods such as CG on top of taco

[2019-04-17 14:00] fredrikbk commented on #218
Just include the directory it is in to your build system and include the file in your application.

The only issue is that our code generator tools do not yet produce code to pack tensors into storage formats or to iterate over them, etc.  This code will be generated by the [new lowering machinery](https://github.com/tensor-compiler/taco/projects/3) and then the taco command-line and online tools

[2019-04-17 14:04] ClmnsRck commented on #221
I would like Matrix inversion. But is not a big deal if it does not exist. Thanks

One last Question: When you do the Expression building for a Tensor e.g. `A(i,j)=B(i,k)*C(k,j);` what happens there? because i am benchmarking it kind of and would like to know if i should benchmark that part too...

[2019-04-17 14:06] fredrikbk commented on #217
It seems your system compiler (gcc or clang?) fails for some reason.  I don't know why compiling a lot of codes would cause this, but we have a new llvm backend coming up this summer that will compile in memory and that should solve this problem.

[2019-04-17 14:11] fredrikbk commented on #221
Ahh, sorry, our agenda is to generate code and we do not yet know how to do that for matrix inverses (future research).  You should therefore use another library for that that has a hand-coded version of the inverse you need.

In the current set of API's nothing really happen when you do that, other than some objects are created and assigned to a slot in `A`. The work happens during `compile`, `as

[2019-04-17 14:16] nt1tov commented on #218
I dont undestand how I can use, just for example, Kernel for MSpM kernel and MM kernel in one program for different dimensions?
May be You can show examples of including to a simple program a kernel?

[2019-04-17 14:18] nt1tov commented on #217
I've used gcc, and .compile function fails.
All my colleges have the same issue.
I usd taco for M*SpM and M*M only  for different dimensions.
(2048x2048 max)

[2019-04-17 14:27] ClmnsRck commented on #221
O, so if i just want to test the performance `A.evaluate();` is the thing to do?

I am using Eigen already, that works for me, because of that, its not a big deal that taco misses the inverse-function

[2019-04-17 14:59] shoaibkamil commented on #217
What happens when you try to run the failing command?

[code]

[2019-04-17 15:15] nt1tov commented on #217
I only got this mesage

Error ***/taco-master/src/codegen/module.cpp:140 in compile:
Compilation command failed:
cc -O3 -ffast-math -std=c99 -shared -fPIC /tmp/taco_tmp_YxzKLP/sk1pjk2r2s4c.c /tmp/taco_tmp_YxzKLP/sk1pjk2r2s4c_shims.c -o /tmp/taco_tmp_YxzKLP/sk1pjk2r2s4c.so
returned -1

[2019-04-17 15:27] shoaibkamil commented on #217
Sorry, perhaps I was not clear.  Can you run the following command from your shell:

[code]

[2019-04-18 10:15] ClmnsRck opened #222 "[help] When trying to reporduce SDDMM-ex. the Code fails"
When i was trying to reproduce the SDDMM example, i forgot to set the ordering of D to colum-major and got segmentation-faults ... why is that, shouldnt it work anyways?

[2019-04-18 10:15] #221 closed

[2019-04-18 15:19] oicirtap commented on #222
The reason for this is that the code generated by taco requires traversing matching dimensions of different tensors in a computation in the same order. For example, in the simple expression `A(i,j) = B(i,j)`, if both matrices are in row major, the generated code can traverse the `i` dimension, followed by the `j` dimension. On the other hand, if `B` is column major, then `B` requires `j` to be tra

[2019-04-18 16:54] nt1tov commented on #218
but what can do generated code?
Does it use hardcoded values & dimensions?Or only algebra equation?
Can you send simple code for example how generated kernel works in app?

[2019-04-18 17:01] nt1tov commented on #217
It compiles fine

[2019-04-18 17:17] ClmnsRck opened #223 "compilation command failed, does not work?"
[code]
what did i do wrong??

the code i wrote works, but somehow it fails for large tensors

This is my code(T = double, L=M=N=O=100, K=10000): PerfEvent is a benchmarking tool, and this even works with smaller dimensions ...
[code]

[2019-04-18 18:03] nt1tov commented on #204
+1:
I really do not understand how to use generated kernels

[2019-04-18 18:09] shoaibkamil commented on #217
Great, thanks.  In that case, in order to make any more progress debugging, we probably need a reproducer: can you share some code that causes this to occur?

[2019-04-18 19:14] shoaibkamil commented on #223
I couldn't actually get as far as compilation with your example; I run out of memory:

[code]

I would guess that's because it's trying to allocate a 10k x 100 x 100 x 100 dense array of 80 GB, which I don't have.  Are you perhaps approaching your memory limit and the compilation is getting killed as a result?

For reference, the code I tried to run is [here](https://gist.github.com/shoaibkamil/27

[2019-04-19 09:37] ClmnsRck commented on #223
But A is only 100*100*100*100 in size ... and so are C and D ... weird thing is, after triying again, it suddenly worked ... i am really confused by this

[2019-04-19 11:58] ClmnsRck opened #224 "Recuring tensor-operations"
When doing calculations for artificial neural networks for example, would it be possible to reuse the generated code? Meaing that, because the structure of a ANN is static, that i could do multiple steps of these with one compile-call from `taco`. And the data would just be changed directly in memory?

[2019-04-21 15:24] ClmnsRck opened #225 "Inserting into/Packing Sparse Tensors"
When i fill a Sparse tensor, do i have to insert the elements equal to 0 also? Or only those not equal to 0?

[2019-04-21 20:05] stephenchouca commented on #224
You can reuse the generated code by calling `compile`, `assemble`, and `compute` separately instead of calling `evaluate`, which under the hood simply calls the first three methods. So something like:

[code]

If you know that the sparsity structure of the output will not change when you reinitialize the inputs with new data, then you can omit the second call to `assemble` as well:

[code]

[2019-04-21 21:10] stephenchouca commented on #225
By default, `evaluate` makes two passes over the inputs, one to compute the sparsity structure of the result and another to compute the actual values of the result. One thing that can help when the output tensor is sparse is to tell taco to generate code that does the entire computation in a single pass, as follows:

[code]

It might just be though that your data still isn't sparse enough to see p

[2019-04-21 21:24] ClmnsRck commented on #224
Thank you, thats great. I'll leave it to you if this should remain open, or can be closed :smiley:

[2019-04-21 21:25] ClmnsRck commented on #225
I will look into it and come back to this, but thanks for this right now

[2019-04-21 22:10] #224 closed

[2019-04-23 11:01] ClmnsRck opened #227 "[help] sigmoid on vector"
I would like to implement a Feed-Formward-iteration using taco. For that i need the sigmoid function:`a = 1/(1 + e^(-x))`

Can i implement this using tacos Index and code generation?

[2019-04-23 13:15] ClmnsRck commented on #227
using the cmath `exp()` function gives me this error:
[code]

[2019-04-23 20:20] MoritzN89 commented on #213
Thank you for giving me the possiblity to work on this API! I think a deep copy using the computation of a copy index expression could require unnecessary computational costs, because it requires a recompilation.

Maybe it is faster to just deep copy
- The tensor content object.
- The coordinate buffer and its related variables. The user does not know the implementation details, hence he may assum

[2019-04-24 09:48] ClmnsRck opened #228 "sparse matrix multiplication does not provide any benefits"
As you can see in the follwoing code, this was my implementation. The sparsity is 95% zeros. At that point the benefits should be visible, shouldnt they?  J was 1000 and K and I were 10000, so the size was sufficiently large, such that the overhead of the sparsity was not the main factor ... cTensor is just a wrapper around a std::vector. Why did they both take around 45 seconds?
(almost_equal is

[2019-04-24 10:27] #228 closed

[2019-04-24 11:52] #222 closed

[2019-04-24 11:53] #223 closed

[2019-04-24 16:11] nt1tov commented on #217
I've just used usual multiplication
        taco::IndexVar idx, jdx, kdx;

        D(idx, kdx) = W(idx, jdx) * A(jdx, kdx);
        D.compile();

        D.assemble();

        D.compute();

[2019-04-25 19:50] nt1tov opened #229 "Any ideas How I can use generated kernel?"
http://tensor-compiler.org/
I have A(i,j) = B(i,k) * C(k,j) kernel for this expression
How I can init this tensors without extra code generating and use this code for my own project without taco library?

I have read a lot of papers and github issues but nowhere I've found solutions and guides HOW I use the taco_kernel.c??

`﻿// Generated by the Tensor Algebra Compiler (tensor-compiler.org)
// tac

[2019-04-25 19:51] nt1tov commented on #229
@fredrikbk @shoaibkamil @stephenchouca please help!

[2019-04-26 16:47] ClmnsRck opened #230 "[bug]redefinition of assemble"
I get this error:
[code]
When i try to compile this code:
[code]

[2019-04-26 16:56] ClmnsRck commented on #230
The problem could be fixed when i moved all the definitions of the tensors up out of the last for-loop. But i will leave this open, if it is indeed a bug

[2019-04-26 18:21] oicirtap commented on #213
Hey @MoritzN89, again sorry for the delayed reply.

So regarding the deep copy approach to take, I agree with you that a copy index expression would potentially have a large overhead, so manually copying the content and coordinate buffer objects might be the best approach. I also think benchmarks are a great idea.

In terms of an alternate method of communication, we have a taco slack group, but I

[2019-05-06 14:31] stephenchouca commented on #229
Sorry for the late reply. The example below demonstrates how you can use taco-generated code to compute with sparse tensor data structures that you've constructed without using the taco C++ library. To make the example a bit simpler and hopefully easier to understand, I've modified it slightly so that `C` is stored in the `(dense, sparse)` format (which is equivalent to the more commonly used CSR

[2019-05-06 15:40] stephenchouca commented on #230
Thanks for the report. This is indeed a bug.

[2019-05-17 16:27] #229 closed

[2019-05-17 16:28] fredrikbk commented on #218
Answered in other thread

[2019-05-17 16:28] #218 closed

[2019-05-19 13:49] fredrikbk commented on #211
Fixed by @RSenApps

[2019-05-19 13:49] #211 closed

[2019-05-20 22:49] richard-wwu opened #238 "Cannot execute with CUDA"
I am having trouble executing a dense matrix multiplication with TACO and CUDA. I built Taco with the -DCUDA=ON switch and tried to execute dense matrix multiplication as follows:
`./bin/taco "a(i,j) = b(i,k) * c(k,j)" -time=200 -g=b:r -g=c:r -cuda`
This fails with the error message
[code]
I also get the same error when trying the `./bin/taco-tensor_times_vector` example.
Can you help me sort out

[2019-05-20 23:02] stephenchouca commented on #238
It looks like taco is trying to use the GPU backend to compile code that gets generated for implementing iterators over `Tensor` objects. That code should probably just be compiled for CPU though even if the GPU backend is enabled. @RSenApps is this something you can take a look at?

[2019-05-21 02:22] #205 closed

[2019-05-21 18:28] fredrikbk opened #239 "Compound Assignment"
We're in a period of transition and to get the second taco compiler working sooner, with all accompanying bug fixes, we will transition to it without support for compound assignments in index notation (e.g. `a(i) += b(i)`). If any user really needs this feature, please let us know and we'll speed up its reintroduction or find a workaround.

This issue documents its reintroduction.  Essentially, we

[2019-05-21 18:46] fredrikbk opened #240 "Tensor Initialization in Concrete Notation"
We need to think through how we handle initialization in concrete index notation expressions, both for arguments and for temporaries declared on the producer side of `where` statements. Currently initialization is implicit and the need for initialization, or not, is inferred from the concrete notation form (by looking at the result format and whether it is a reduction).

Implicit initialization wi

[2019-05-27 12:37] fredrikbk opened #244 "QCD-style expression optimization"
Second taco  lacks one of the optimizations of the first taco, that is important for QCD-style expressions.  The optimization pushes sums that only pertain to one factor down around that factor.

Given the expression `tau = z(i) * z(j) * z(k) * theta(i,j) * theta(i,k)`, the unoptimized second taco generated code is:
[code]

While the optimized first taco code is:
[code]

[2019-05-31 15:11] drhagen opened #255 "Kernels no longer emit mode_ordering"
[Commit a05472](https://github.com/tensor-compiler/taco/commit/a05472f2d91b5154808afaab2f5893e103701b79) eliminated the use of `mode_ordering` in all kernels. Is the mode ordering feature slated for removable?

`taco 'y(i) = A(i,j) * x(j)'`

Before this commit:
[code]

Now:
[code]

[2019-06-03 17:30] stephenchouca commented on #255
We intend to retain the `mode_ordering` array in `taco_tensor_t` for user convenience. The generated code can hardcode this mapping though and thus does not need to use the `mode_ordering` array.

[2019-06-03 18:05] drhagen commented on #255
Say I want a kernel for the matrix-vector product of a CSC matrix (`mode_types = [dense, sparse]` and `mode_ordering = [1, 0]`). Previously, I did `taco 'y(i) = A(i,j) * x(j)' -f=A:ds` and it would make a kernel that works for CSR and CSC matrices, but now it only works for CSR matrices. How do I generate the kernel for CSC matrices?

[2019-06-03 18:11] stephenchouca commented on #255
`taco "y(i) = A(i,j) * x(j)" -f=A:ds` should in fact only generate code that works for CSR matrices. To generate code for CSC matrices, you need to explicitly specify the mode ordering for `A` in the format descriptor (i.e., `-f=A:ds:1,0`).

[2019-06-03 18:20] drhagen commented on #255
Ok, that's new and exactly what I was looking for. I think this is a good change to the design. The help string for the taco command line tool just does not mention this yet.

[2019-06-03 18:44] stephenchouca commented on #255
taco tool has actually supported that for quite some time; I think we've just forgotten to document it all this time. I will update the help string to document that feature. Thanks for pointing it out.

[2019-06-04 14:25] #238 closed

[2019-06-06 20:04] pauldrewstri opened #257 "Failing unit test (seg fault"
Running the units tests, some pass, but I get a segfault.  Any ideas on how to debug further?

test_dtype_conversion (__main__.TestDataTypeMethods) ... ok
test_dtype_equality (__main__.TestDataTypeMethods) ... ok
test_dtype_inspectors (__main__.TestDataTypeMethods) ... ok
test_format_methods (__main__.TestFormatMethods) ... ok
test_mode_format_methods (__main__.TestFormatMethods) ... ok
test_itera

[2019-06-06 20:51] stephenchouca commented on #257
Does the C++ test suite run successfully?

[2019-06-07 03:31] #255 closed

[2019-06-07 12:45] pauldrewstri commented on #257
Yes, the C++ test suite runs fine:

[----------] Global test environment tear-down
[==========] 770 tests from 267 test cases ran. (668824 ms total)
[  PASSED  ] 770 tests.

  YOU HAVE 8 DISABLED TESTS

Rather verbose, but here is my CMAKE config if its helpful:

-- Cache values
CMAKE_AR:FILEPATH=/usr/bin/ar
CMAKE_BUILD_TYPE:STRING=Release
CMAKE_COLOR_MAKEFILE:BOOL=ON
CMAKE_CXX_COMPILER:FILEPATH=/

[2019-06-07 16:25] stephenchouca commented on #257
Just a guess, but it might be some issue with file IO. Can you try the following and see if any of them works?

- In `python_bindings/unit_tests.py`, disable `TestIO` by adding the decorator `@ unittest.skip` above the class definition for `TestIO` (on line 60), and then rerun the test suite.
- From a directory where you have write access, run the following program:

[code]

- Clone commit `6c1088

[2019-06-07 16:53] pauldrewstri commented on #257
Disabling that unit test gets me further, now I have a GPUassert:

[code]
Your code snippet runs fine, no asserts.

When I checkout commit `6c10882`, re-compile, and run unit tests I get:

[code]

[2019-06-07 17:45] stephenchouca commented on #257
The GPU backend is still experimental and hasn't been fully tested with the Python bindings, so that might be an issue as well. Can you try rebuilding without the GPU backend and see if the full test suite runs? If that still fails, can you try the same with `TestIO` disabled and try commit `6c10882` with the full test suite (again with the GPU backend disabled)?

[2019-06-07 19:42] pauldrewstri commented on #257
That was it, GPU backend seems to be not fully supported yet.  The tests run fine when I don't compile with GPU support.  Thanks!!

[2019-06-10 21:03] stephenchouca opened #258 "Sparse matrix times dense matrix performance degradation"
For the expression `A(i,j) = B(i,k) * C(k,j)` where `B` is in CSR, second taco generates the following code that iterates over `k` in the innermost loop:

[code]

whereas first taco generates the following code, which iterates over `j` in the innermost loop instead and thus accesses `C` sequentially while being more amenable to vectorization:

[code]

On shipsec1, this results in a performance dif

[2019-06-14 04:46] dongxiao92 opened #259 "build kernel failed"
I use taco to generate and compile a sparse tensor dense tensor multiply kernel and evaluate its performance with inputs in various shapes. But a compilation error occurs sometimes. The error is listed below:

But I try to execute the printed command and it succeed. Thus I'm confused about what the problem is and how it happens.
The code is listed below.

[code]

[2019-06-14 05:19] dongxiao92 commented on #259
I have checked the return value which is -1. According to the linux man [page,](http://man7.org/linux/man-pages/man3/system.3.html) -1 indicates the failure of creating child process which is used to execute the command. But I'm not sure why this happens.

[2019-06-15 00:55] dongxiao92 commented on #259
I further checked the errno set by system. The errno is 12, and the corresponding message is 'Cannot allocate memory'. But I monitored the physical memory usage by top and it never surpassed 15%. The swap space has not been used yet.
It seems calling 'system' to compile generated code too many times consecutively may result some problem.

[2019-06-15 02:32] stephenchouca commented on #259
Currently, taco will generate a shared library with the generated code whenever `compile` is called and then dynamically load it using `dlopen`, which apparently reserves a significant amount of virtual memory per shared library. To properly fix this would probably require just replacing the whole shared library approach with LLVM JIT, which is currently a work in progress. You should be able to w

[2019-06-15 02:34] stephenchouca commented on #217
#259 is likely a duplicate of this issue.

[2019-06-17 07:31] dongxiao92 commented on #259
Thanks for your reply. I used your method to work around.

[2019-06-20 13:13] DJDDDM opened #261 "scalar insertion instead of addition"
second-taco branch:
In #85 it was already discussed that the assignment operator(operator=) can act like a operator+=. This is currently the case.
`double value = 1.5
 Tensor test
 test(0,0,0,0) = value;
 assert(test(0,0,0,0) == 1.5)
 test(0,0,0,0) = value;
 assert(test(0,0,0,0) == 3.0)`

but I want to have the tensor value at 1.5 no matter how often I insert the value. Is there already a function

[2019-06-25 08:24] DJDDDM opened #262 "traversing tensor with only one index"
second-taco:
Is there a way of traversing a tensor with only one index despite it being for example a 2D Tensor?

This would be helpful for writing dimension agnostic code. So instead of
`Tensor A({dim1,dim2})
for (int i = 0; i < Tensor.getDimension(0); i++){
    for(int j=0; j <Tensor.getDimension(1); j++){
        A(i,j) = somevalue();
`

one could write
`counter = 0;
 for (int i = 0; i < Tensor

[2019-07-22 14:53] shoaibkamil opened #263 "Sparse matrix times sparse vector: incorrect assembly"
Currently, the online codegen produces the following assembly code for `y(i) = A(i, j) * x(j)`:

[code]

This will always create a fully-dense output vector.  I believe the culprit is that the `y1_coord ` reallocation and storing needs to be within the intersection condition:

[code]

[2019-07-22 17:43] shoaibkamil opened #264 "Sparse matrix times sparse vector: incorrect compute"
[code]

/ Generated by the Tensor Algebra Compiler (tensor-compiler.org)
int32_t py1 = 0;
for (int32_t iA = 0; iA < A1_dimension; iA++) {
  double tj = 0.0;
  int32_t pA2 = A2_pos[iA];
  int32_t A2_end = A2_pos[(iA + 1)];
  int32_t px1 = x1_pos[0];
  int32_t x1_end = x1_pos[1];
  bool should_store = false;
  while (pA2 < A2_end && px1 < x1_end) {
    int32_t jA = A2_coord[pA2];
    int32_t jx = x1

[2019-08-04 06:36] hiemstar opened #265 "Support for tensor contraction with inverse (LU) of dense or sparse matrices?"
Do you have plans to support

A(i,j,l) = B(i,j,k) * inv(C(k,l))

given a LU-factorization of the dense/sparse matrix C?

[2019-08-09 11:50] jinz2014 opened #266 "build errors on Cygwin"
I use cygwin on a Windows laptop, and see the following errors.

Thanks for your instructions.

[  1%] Building CXX object test/CMakeFiles/gtest.dir/gtest/gtest-all.cc.o
[  2%] Building CXX object src/CMakeFiles/taco.dir/cuda.cpp.o
[  3%] Building CXX object src/CMakeFiles/taco.dir/error.cpp.o
[  4%] Building CXX object src/CMakeFiles/taco.dir/format.cpp.o
[  5%] Building CXX object src/CMakeFiles

[2019-08-11 18:20] stephenchouca commented on #266
Can you try replacing line 74 in `CMakeLists.txt` with the following:

[code]

and see if that resolves the error? (Make sure to restart the build process from scratch.)

[2019-08-11 18:39] stephenchouca commented on #262
taco actually lets you access tensors using a dynamic vector of index variables, so you can write dimension-agnostic code like below:

[code]

[2019-08-14 03:58] jinz2014 commented on #266
Thanks for your solution.

[2019-08-14 03:58] #266 closed

[2019-08-19 20:12] guilhermeleobas opened #267 "question related to the -time option"
When using the command-line interface, the `-time` option reports the time it takes for the kernel to execute? Or it also reports the time to load the tensors (from a file for instance)?

For example:
[code]

The `Compute` time reported is only for the kernel function or it also considers the time to generate `B` and `C`?

[2019-08-20 15:33] stephenchouca commented on #267
The "compute" time only includes the time needed to compute the values of the output tensor; taco does not measure the time needed to load or generate the input tensors.

[2019-08-22 02:51] guilhermeleobas opened #268 "taco tool segfaults when using -time=number"
Hi,

I am trying to use the TACO compiler tool to do a simple matrix multiplication but it segfaults when I use `time=any_number_greater_than_one`. I've run a debug version of TACO on lldb and the segmentation fault happens [in this line](https://github.com/tensor-compiler/taco/blob/219f6b92635a98408c2f9ee8eaecf054bce8229a/include/taco/ir/ir.h#L94) in the source code.

Below is the command that I

[2019-08-23 21:43] stephenchouca commented on #268
Does the segfault happen before or after the benchmarking is done (i.e., are you still able to get timing numbers for assembly and compute, or does the command-line tool crash before that happens)?

[2019-08-23 23:26] guilhermeleobas commented on #268
I can get the time for compile and assembly. So, the crash happens during benchmarking.

I can share the input files I am using if you want.

[2019-08-24 02:13] stephenchouca commented on #268
Sure, that might be helpful.

It might also be worth trying commenting out the line where the segfault happens (i.e., the `delete node`) and see if taco still crashes then.

[2019-08-30 17:46] guilhermeleobas commented on #268
Thanks! This solved the problem.

[2019-08-30 18:10] #268 closed

[2019-09-03 20:37] #267 closed

[2019-10-02 18:14] hiemstar opened #271 "Request to change targetname "gtest" to "gtest_taco" or similar"
I have the following build issue when I include taco using CMAKE.

CMake Error at thirdparty/taco-src/test/CMakeLists.txt:4 (add_library):
  add_library cannot create target "gtest" because another target with the
  same name already exists.

The problem is that the target "add_library(gtest ......)" in "taco-src/test/CMakeLists.txt" conflicts with my gtest build that I get using FetchContent_decl

[2019-10-14 15:09] rgommers commented on #139
Here's a perspective on the Python API: it should follow the `numpy.ndarray` rather than `scipy.sparse` semantics. This is in general a better design, and allows writing code that is general for dense and sparse arrays. Pydata/Sparse provides an API like this. It's far from complete, but it's the way forward for a sparse Python API. It should be the API of choice for using sparse arrays in Python,

[2019-10-14 15:09] rgommers commented on #139
It seems like this issue isn't fully up to date and there is now some Python binding (e.g. gh-260)?

There's a "Python library" in the sidebar of the docs on some pages, but the pages themselves give 404 (e.g. http://tensor-compiler.org/docs/pytensors/). So a bit unclear what the current status is.

[2019-10-16 04:26] dongxiao92 opened #272 "generating GPU kernels"
I'm trying to use taco to generate cuda kernels of computing the sparse-matrix-dense-matrix multiplication. But I find it seems the generated 'compute' method does not runs on GPU. I show my code below.
[code]

I build taco using` cmake -DCMAKE_BUILD_TYPE=Release -DCUDA=ON .. ` and all tests in `taco-test` have passed. I use  `set_CUDA_codegen_enabled(true)` to enable cuda code generation. The gen

[2019-10-16 06:08] dongxiao92 commented on #272
Thanks for your help. I can get gpu kernels now, while the performance of generated gpu kernels cannot match the cpu conterparts. A 3-9x slow-down can be observed on my test with 15 cases.

[2019-10-16 06:20] RSenApps commented on #272
Ok great yes that is expected due to the poor schedule. I was wondering if you had an idea in mind of how you would want this kernel to be parallelized on the gpu (how is work spread across threads, warps, and thread-blocks)? I want to verify that such a schedule can be specified with the current scheduling language design.

[2019-10-16 09:02] dongxiao92 commented on #272
@RSenApps  I actually do not have a clear answer for the best parallelization strategy on GPU. I just tried to understand the current generated kernel. For now, I think taco tries parallel the outer-most loop(i.e., oh in this example) and dispatches the computation for a single oh in the output to a CUDA thread. The data of the sparse-sparse-dense input is organized into a dense matrix with the sh

[2019-10-16 18:58] RSenApps commented on #272
With the scheduling language the user will be able to specify how they would like the computation to be parallelized so it is up to you! But yes, right now it is just parallelizing the outer loop. I am going to close this issue, but feel free to watch #127 for updates over the next couple of months.

[2019-10-16 18:58] #272 closed

[2019-10-31 12:32] Light-of-Hers opened #273 "cuda kernel optimization"
I use taco to generate a cuda kernel of dense matrix multiplication
`> ./taco "A(i,j) = B(i,k) * C(k,j)" -cuda -f=A:dd -f=B:dd -f=C:dd`

But it seems that taco just generates a very trivial kernel
[code]

Can taco somehow generate an optimized cuda kernel ?

[2019-11-01 01:40] Light-of-Hers commented on #273
Thanks for your reply.

[2019-11-01 01:40] #273 closed

[2019-11-04 16:15] rjw245 opened #274 "Build error: cannot call member function ‘void taco::Iterators::createAccessIterators(taco::Access, taco::Format, taco::ir::Expr)’ without object"
I see the following error when building on Ubuntu 16.04

[code]

I've got g++ 5.5.0 installed:
g++ (Ubuntu 5.5.0-12ubuntu1~16.04) 5.5.0 20171010

I was able to successfully build on a different machine running Ubuntu 18.04. Does anyone know the cause of this error?

[2019-11-04 16:25] rjw245 commented on #274
cmake version 3.5.1

[2019-11-06 01:34] stephenchouca commented on #274
Might be caused by [this GCC bug](https://stackoverflow.com/questions/32097759/calling-this-member-function-from-generic-lambda-clang-vs-gcc). Do you still get an error if you add `this->` in front of the call to `createAccessIterators`?

[2019-11-06 02:33] dongxiao92 commented on #274
@stephenchouca Thanks for your reply. Add `this->` resolves the error but new errors occur.

[code]

[2019-11-06 05:24] rjw245 opened #275 "Can taco find eigenvalues/eigenvectors of tensors?"
I want to use taco to construct a tensor algebra equation of the form:

A(n,n) * u(n) = L * u(n)

so that I can solve for eigenvectors of A. Is this possible? Is there a way to change the equation above to achieve this?

[2019-11-06 14:25] hameerabbasi opened #276 "Implementation of expressions that are not based on sum, *, and /"
Hello. Is there a plan to add support for expressions that are not based on multiplication, sums, and additions?

[2019-11-06 16:00] RawnH commented on #276
Hello. Yes there is! I am currently working on adding support for more general operations on tensors which includes general contractions and general element-wise operations.

[2019-11-07 11:07] hameerabbasi commented on #276
Is this work based in a branch somewhere?

[2019-11-07 22:51] boyrealmadred opened #277 "Compilation fails for Sparse Matrix multiplication"
I was trying the online tool and I got the following error when i was tying A(i,j) = B(i,k) * C(k,j) expression. Where all three matrices are **sparse** in both dimensions. I got "Compilation command failed". It works only if one of the input matrices is sparse and the other is Dense. Does multiplication of two sparse matrices are not supported yet ?

[2019-11-08 06:03] RawnH commented on #276
Not right now. I will update this once there is a functional branch.

[2019-11-23 02:07] drhagen opened #279 "Copying a two dimension matrix fails if any output is sparse and the mode order differs"
Converting the format of a two-dimensional matrix `b(i,j) = a(i,j)` fails if all three of the following conditions are true:

1) one of the dimensions of `a` is sparse
2) one of the dimensions of `b` is sparse
2) the mode ordering of `a` and `b` are different

Here is an list of commands of this type that seg fault on master:

[code]

[2019-11-23 02:56] drhagen opened #280 "Matrix multiply-add fails to compile with CSC, but not CSR"
This command:

[code]

produces this kernel:

[code]

This kernel fails to compile due to the undeclared variable `pB1` used in the definition of `pB2` and `pB2_end`.

If the `B` variable is switched to a `ds` matrix rather than a `ds:1,0`, this kernel will compile successfully.

[2019-11-25 18:16] jwshi21 opened #281 "Can't build pytaco with newest cmake version"
cmake version 3.15.5 causes ImportError when attempting to import pytaco; cannot do `from .core.core_modules import *`. When running `taco-test`, library not loaded due to "image not found."

cmake version 3.15.3 works fine.

[2019-12-14 21:21] peterahrens opened #282 "Should packing twice erase the tensor?"
Calling `Pack()` on my tensor twice seems to erase the previously packed values. Why?

[2020-01-16 14:04] hameerabbasi opened #283 "Introduce the concept of a fill-value"
Is there a concept related to fill-values in TACO? With arbitrary reductions and element-wise ops (#276), and fill-value, the functionality of this library is more-or-less a strict superset of PyData/Sparse, and I was considering using this library for that purpose.

To elaborate, fill-values are values that you don't store. For regular sparse arrays, this is 0.

[2020-01-20 10:27] hameerabbasi commented on #139
PyTaco seems to be in this branch: https://github.com/tensor-compiler/taco/tree/second-taco/python_bindings

[2020-04-07 18:39] #127 closed

[2020-04-07 18:39] #129 closed

[2020-04-20 11:09] Infinoid opened #287 "taco_test crashes in Release build"
Should the test suite pass for Release builds?  It crashes on my machine.

cmake command: `cmake -DCMAKE_BUILD_TYPE=Release ../taco`
cmake version 3.17.1
gcc (Ubuntu 7.5.0-3ubuntu1\~18.04) 7.5.0
libc6-dev 2.27-3ubuntu1
libstdc++-7-dev 7.5.0-3ubuntu1\~18.04

output:
[code]

backtrace:
[code]

Looks like a NULL pointer to me.  Note the `(this=0x20)` in frame `#2`.

This crash happens with or without

[2020-04-20 13:38] Infinoid commented on #287
The full backtrace is here if you need it:
https://gist.github.com/Infinoid/f61d07957f464e8bf8324c7ee6fba11c

[2020-04-21 05:57] stephenchouca opened #289 "RFC: Generating code to filter out explicit zeros in results"
# Summary

This RFC proposes adding a new `padded` property to mode formats, which describes whether or not explicit zeros are stored. The lowering machinery can use this property to determine whether/how to generate code that filters out explicit zeros in the result.

# Motivation

Currently, an expression such as `a(i) = b(i)`, where `a` is compressed and `b` is dense, is always lowered to the f

[2020-04-26 23:35] #287 closed

[2020-05-17 18:37] dcbdan opened #290 "Printing literal floats results in rounding error for compiled code"
In the compiled code from assignment expression  `A(i,j) = 1.0 / (1.0 + taco::exp(-1.0 * B(i,j)));`, A(i,j) = 0, not 0.5, for all zero values of B.

Here is a snippet from the generated code:
[code]

Here is a simple test case generating the error:
[code]

[2020-05-22 17:04] Infinoid opened #292 "compiler bug in topologicallySort"
I wrote a simple program that adds a transposed matrix to another matrix.  This causes taco to crash with a compiler bug.  When I remove the transposition, the program completes successfully.

This is with the current version of the master branch.

The program:

[code]

The error message:
[code]

If I comment out line 17 and uncomment line 16, the program completes without error.

How I built taco

[2020-05-23 18:13] dcbdan commented on #289
Being able to call `a(i) = b(i)` where `a` is compressed and `b` is dense, and generalizations thereof, would be an important addition. It would also be important to do something akin to
[code]
where mask takes in a boolean expression where if true, the output is zero.

Questions:
- How would the padded mode attribute work for thresholding operators?
- It isn't clear to me that it would be guarant

[2020-05-24 17:40] zjin-lcf opened #293 "questions about code generation"
The generated codes below show that only one of the three tensors for the expression "a(i) = b(i) + c(i)" is allocated using USM. What happened to the other two tensors ?  Please clarify the code generation process:  Does your compiler generate a complete cuda program ?  If not, is there a flag or way to display an entire cuda program for understanding the execution of a cuda program ?  Thank you!

[2020-05-24 21:38] RSenApps commented on #293
Hi, could you provide more details in how you generated the code you pasted in your issue? There are many ways to use TACO and it appears that the way you are generating this code is not properly parallelizing the kernel onto GPU.

Other ways to generate full CUDA kernels that you may find helpful are:
1. The command line tool such as this command, which uses a very simple GPU schedule that will p

[2020-05-24 22:41] zjin-lcf commented on #293
first of all, I found that I am not using the latest version of taco.  It is interesting to see the difference in the generated codes.

After cloning and building your repo
1.  I tried your command, so the output of the command: bin/taco "a(i) = b(i) + c(i)" -cuda -write-source=vecadd.cu  is partially display below:

May you reproduce the issues (only one of the three tensors is allocated with USM

[2020-05-24 22:52] zjin-lcf commented on #293
Do you think it is helpful to add an taco commandline option to generate full CUDA files instead of directly performing the computation within the TACO library  ?

[2020-05-24 23:29] RSenApps commented on #293
Only result tensors are allocated as it is expected that the caller passes pointers to tensors that have already been properly allocated (the TACO library will make sure to perform this allocation for you). This is to prevent unnecessary additional allocations when performing multiple computations with the same tensors.

The tensor_times_vector example doesn't parallelize onto GPU because it write

[2020-05-25 03:40] zjin-lcf commented on #293
Thanks for explaining the USM allocation and the links. Congratulations on your achievement!

My understanding of generating (dumping) a cuda program contains, for example, a main function. In other words, a standalone cuda program.  However, I found that the test case (generate_evaluation_files) only generates kernel wrappers (i.e. a function to launch a cuda kernel) and kernels for each test (e.

[2020-05-25 20:02] RSenApps commented on #293
TACO currently does not support "dumping" full runnable programs. It can either be used to generate the important kernels or it can be used as a library.

When you choose to not use it as a library, it is required to write code around the generated kernels to allocate and load the input tensors that are passed to the kernels. Given sparse vectors this should be very fast code to write (and allows

[2020-05-25 22:52] zjin-lcf commented on #293
It is helpful!  I will contact you by emails

[2020-05-25 22:52] #293 closed

[2020-05-26 23:11] #290 closed

[2020-06-02 23:17] dcbdan commented on #289
What is the status of these potential changes?

[2020-06-04 03:24] stephenchouca commented on #289
@dcbdan Thanks for your comments, and sorry for the late reply. With regards to your questions, I believe it should be possible to support filtering out explicit zeros in the result even with more complicated RHS expressions. For some expressions, like sparse vector addition, it should be as straightforward as just inserting guards into the generated code to store to the result only if the sum if

[2020-06-09 20:13] shoaibkamil opened #297 "Taco does not currently generate correct code for sparse outputs"
This is an umbrella issue for the problems with sparse outputs.  The cases I've tried that are failing are (capital letters are matrices, D is a diagonal matrix, scalars are c<num>):
[code]
(#263 is a specific instance)

[2020-06-11 19:45] stephenchouca commented on #297
@fredrikbk might have more to say, but it looks like all these kernels will require taco to support generating code that uses workspaces (#184). @amaleewilson and @RawnH have been working towards implementing support for workspaces in taco, though that work is still ongoing as far as I'm aware.

[2020-06-20 04:20] zjjzby opened #301 "nvcc fatal : Unknown option 'fopenmp'"
When I try to use the openmp and cuda simultaneously to  compile the spmv example, I meet with this errors. The error information is as follows

nvcc fatal   : Unknown option 'fopenmp'
Error at /taco/taco-gpu/taco/src/codegen/module.cpp:154 in compile:
 Compilation command failed:
nvcc -w -O3 -Xcompiler "-fPIC -shared -ffast-math -O3" --generate-code arch=compute_61,code=sm_61 -fopenmp /tmp/taco_t

[2020-06-29 22:56] stephenchouca commented on #301
Should be fixed with fbda4cb.

[2020-07-08 12:39] andrew-matteson commented on #297
A large percentage of the tensora (a python wrapper) test suite fails due to incorrect code generation from TACO - https://github.com/drhagen/tensora

Tests are combinatorially generated, so cover many cases that come up in our work.

[2020-07-20 14:37] tpops opened #306 "Taco commandline segfaults"
Taco command line segfaults for the command: `taco "B(i,i)=A(i,j)*A(j,i)" -f=B:ds:0,1 -f=A:ds:0,1  ` is there any work around this scenario ?

[2020-07-20 16:29] tpops opened #307 "Compilation error for taco generated code A(i,k) = B(i,j) * C(j,k) (A,B,C are sparse)"
Hi,

There is currently a compilation error for taco generated code:

[code]

[code]

the line ` for (int32_t k = 0; k < ; k++) {` does not have an upper bound, thereby causing compilation error.

[2020-07-20 19:51] stephenchouca commented on #307
This bug should have been fixed with the latest commit on master (99882ae). Can you see if that resolves your problem?

[2020-07-20 20:29] tpops commented on #307
Yes it does thank you @stephenchouca

[2020-07-20 20:34] #307 closed

[2020-07-21 20:43] #306 closed

[2020-07-22 23:12] jiawen11 opened #308 "Output Tensor Generated by TACO might be Incorrect for Certain Tensor Computation"
Hi,

I used TACO for tensor contraction following the "Library Example" shown on the official page https://github.com/tensor-compiler/taco. I found that the final results generated by TACO are incorrect.

Does it mean TACO does not support tensor contraction or are there issues within TACO for tensor contraction?
In addition, does TACO support sorting the output tensor?

-----------------------
Co

[2020-07-22 23:44] #308 closed

[2020-07-22 23:44] jiawen11 opened #309 "Output Tensor Generated by TACO might be Incorrect for Certain Tensor Computation"
Hi,

I used TACO for tensor contraction following the "Library Example" shown on the official page https://github.com/tensor-compiler/taco. I found that the final results generated by TACO are incorrect.

Does it mean TACO does not support tensor contraction or are there issues within TACO for tensor contraction?
In addition, does TACO support sorting the output tensor?

---------
Code:
#include
#

[2020-07-26 15:30] Infinoid opened #311 "nvcc error: "C_val" has already been declared in the current scope"
The [scheduling.parallelizeAtomicReduction](https://github.com/tensor-compiler/taco/blob/master/test/tests-scheduling.cpp#L320) test fails for cuda builds.

Compilation dies with:
[code]

Taco generates this code:

[code]

The `C_val` local variable is redundant with the function parameter of the same name.

This failure started occurring when PR #304 was merged.

If it helps, I added before/after

[2020-07-29 16:24] #258 closed

[2020-08-01 18:49] #301 closed

[2020-08-01 19:59] stephenchouca commented on #311
I've pushed some changes to master that should fix this bug. Let me know if you still see the error. Thanks!

[2020-08-02 19:18] Infinoid commented on #311
Works for me, thanks!

[2020-08-02 19:18] #311 closed

[2020-08-09 13:11] hellg0lem opened #313 "Reduction of execution time with sparse format"
Hi,

I'm trying to compare an iterative linear Regression approach by using Tensorflow (executed on the CPU) and taco (executed on the GPU).
My goal is to show a tradeoff between Tensorflow (using dense format) and taco (using a sparse format). At a certain data density the sparse format should perform better than the dense format regarding the execution time. I randomly create 12 different data d

[2020-09-23 18:13] boyrealmadred opened #315 "Issue with Sparse Matrix Multiplication across different sparse formats"
Hi.
I am having an issue to correctly executing **the multiplication of two sparse matrices** and storing the result in a **sparse format**. Here is a simple code that I have been using to multiply for that reason. I tried different sparse formats for the three matrices, the only case that produces the correct result is when both dimensions are dense or when both matrices are CSR. In the later cas

[2020-09-24 15:52] #185 closed

[2020-09-24 15:57] #172 closed

[2020-09-24 15:59] #136 closed

[2020-09-24 16:00] #227 closed

[2020-09-24 16:02] #215 closed

[2020-09-28 18:10] Infinoid opened #316 "taco generates invalid "#pragma omp atomic" for Store ops"
In the `scheduling_eval.test_spmvCPU_temp` test, Taco generates the following code:

[code]

On Debian bullseye (testing), this fails to compile with the following error:

[code]

The test passes on ubuntu-20.04 and ubuntu-18.04.  I think they added some new checks in the new compiler version.  (gcc and libgomp1 version 10.2.0)

`git bisect` indicates that the test starts failing in e976ecb.  Prio

[2020-09-28 19:13] Infinoid commented on #195
This program runs successfully on the current version of taco (master branch).  I get the following output:

[code]

[2020-09-28 19:13] Infinoid commented on #196
Here's a reproducer based on your description: https://gist.github.com/Infinoid/2d8fa36f89c6e5f595241769d73cf4e4

The current taco (master branch) seems to generate reasonable results.  Here's what I get:

[code]

[2020-09-29 03:29] #195 closed

[2020-09-29 03:29] #196 closed

[2020-09-30 13:13] Infinoid commented on #315
Yeah, there is an issue with sparse outputs at the moment.

There is some ongoing work to support workspaces, which will improve the memory handling of sparse outputs.  Until then, sparse outputs sometimes generate invalid output.  See issues #184, #297.

For now, your program seems to work correctly in all cases, as long as A is dense.

[2020-10-01 18:52] Asterix9000 commented on #131
Hello,
I know that this is several years after this was closed, but I have been having some difficulty getting Taco to run in parallel as well. Today I have built and installed Taco via: `cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${HOME}/taco/10_1_20/taco/install -DOPENMP=ON ..`

I then copied the MTTKRP example from the documentation website, changed it generate a random tensor inst

[2020-10-01 19:53] Asterix9000 opened #320 "Taco not running in parallel"
Hello,

This is related to Issue #131 that was closed a couple of years ago. I have commented on that issue, but wasn't sure if it would be seen, so I figured I'd post this here as well. Today I have built and installed Taco via: `cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${HOME}/taco/10_1_20/taco/install -DOPENMP=ON ..`

I then copied the MTTKRP example from the documentation websit

[2020-10-07 13:31] Infinoid commented on #320
Hi,

The MKTTRP example may be a bit misleading, because almost all of its time is spent reading input data from `nell-2.tns`.

I took the [C++ code](http://tensor-compiler.org/docs/data_analytics/), and added some print statements with timestamps.  Here's what I got:

[code]

These timestamps are in seconds, relative to when the process started.

I went and looked at the generated source code in

[2020-10-07 15:19] Infinoid commented on #313
Hi,

I wrote a program based on your description.  One problem I noticed is that `time()` has a granularity of 1 second.  I replaced it with a call to `gettimeofday()` with microsecond granularity, and I saw more meaningful results.

I do see some difference between different sparse densities.  I used tensors of size 1000x1000, and sparse vectors of size 1000.  I wrote some stupid code to insert r

[2020-10-07 16:41] Infinoid commented on #309
Hi,

Taco does support tensor contraction.  But there are issues with sparse outputs at the moment.  See issues #184, #297.  I think that's what's happening here.

[2020-10-07 19:24] Infinoid commented on #282
Hi,

Is this still an issue?  I tried this:

[code]

And it worked.

[2020-10-07 19:30] Infinoid opened #324 "Bad tensor naming produces an obscure error message"
If I screw up and give two tensors the same name, Taco fails with a confusing error message.

[code]

When the above program has two tensors named "X", it produces the following error:
[code]

It is hard to understand the problem based on this error message.

[2020-10-08 13:45] Infinoid commented on #315
Thanks for the example program, by the way.  I created a test case based on it, see #325.

[2020-10-08 13:48] Infinoid commented on #297
#325 adds a (disabled) test for `A * B`.  Enable it to see which combinations of matrix formats fail.

[2020-10-12 09:16] Asterix9000 commented on #320
Thank you for the detailed explanation and annotated code. This seems to be a silly mistake on my part. :) I will try rerunning it this week.

[2020-10-13 14:29] jwshi21 commented on #281
Yes, I think it works fine now; maybe the cmake version was just orthogonal to whatever other problem I was having with the installation at the time.

[2020-10-13 14:29] #281 closed

[2020-10-21 07:36] faysou opened #327 "SSL warning on tensor-compiler.org"
I get an SSL certificate warning when going to your website https://tensor-compiler.org/

It could be worth checking if you get the same issue.

[2020-10-21 15:55] Infinoid commented on #280
This is still an issue, I am able to reproduce it in the current taco.

Here is a slightly simpler kernel that demonstrates the same problem, using CSR:
[code]

Which results in:

[code]

Which fails to compile, as no `iB` variable was defined.

I found several other similar kernels that demonstrate the problem.  The common element seems to be that the sparse index of B is one of the indexes of th

[2020-10-21 17:41] Infinoid commented on #275
For a general algorithm, I don't think it would be as simple as that.  Taco is good at regular operations over sparse data.  But [there is no simple algorithm to directly calculate eigenvalues for general matrices](https://en.wikipedia.org/wiki/Eigenvalue_algorithm#Direct_calculation).

Solving for specific special classes of matrix may be possible, see the above link.

For a more general algorith

[2020-10-21 18:02] Infinoid commented on #274
Hi @rjw245, @dongxiao92,

Is this still an issue with the current version (master branch) of Taco?

[2020-10-21 19:33] Infinoid commented on #327
Thanks for pointing it out.  You're right, it is using the github.com certificate.

[2020-10-26 18:12] boyrealmadred opened #329 "Is DIA or ELL currently supported ? can you provide an example?"
Hi,

I am trying to generate code for Spmv kernel when the matrix is in DIA or ELL formats. I wonder if the current version support DIA or ELL formats ? If yes, can you please provide a simple example to demonstrate spmv for these two sparse formats? Thank you in advance.

[2020-10-28 23:26] Infinoid opened #330 "Be able to rerun computation with different input data"
A user on gitter asked whether it is possible to reset a Tensor, give it different data and rerun the computation.  Currently this does not work, the tensor has the `needsCompute` flag set to false and there does not seem to be a way in the public API to reset it.

This program outputs the same data twice, and it should not:

[code]

The `Y2.tns` file should have the values 3, 2, 1.

The goal is t

[2020-10-29 01:16] stephenchouca commented on #330
If the goal is just to avoid having to recompile code that's needed to compute a specific kernel, I believe the C++ library does currently have a code caching mechanism that should automatically reuse any kernel that's been previously compiled. So if you have something like
[code]
then `A` and `C` should both be run using the same compiled code (i.e., the library will not generate code for matrix

[2020-10-29 01:34] stephenchouca commented on #329
The current version of TACO (on the master branch) does not support DIA and ELL unfortunately. I'm still hoping to be able to add support for those formats to the master branch, but recently we've been more focused on fixing other aspects of TACO, so it might be a while before we're able to fully integrate the work described in our OOPSLA 2018 paper into master.

[2020-10-29 10:57] hameerabbasi commented on #330
Does it do this across program runs, or just within a run of the program?

[2020-10-29 14:14] Infinoid commented on #330
Neat.  I wrote an example program to try to make use of that.  Code and output are here: https://gist.github.com/Infinoid/d0867b87216ef5daffd0df6844e4189e

I do see that the second invocation doesn't spend any time compiling.  I also see that it's pretty sensitive to the layout and sizes of inputs.  Even if the inputs are dense, switching from 3x3 matrix inputs to 4x4 causes a recompile.

Also, it

[2020-10-29 14:17] goldnd commented on #330
@Infinoid asked me to put an example of the timing difference between a version that relies on taco caching to avoid compilation and one that uses a hack to sidestep compilation.  Code is here: https://gist.github.com/goldnd/1512190adbc4f92b75a0443ff100a94f
The timing may be completely wrong for the taco cached example (timed using taco_timer1).

[2020-10-29 14:41] goldnd opened #331 "Different backends for dense tensors"
I'm interested in using Taco for computations on dense tensors.  I've done some simple timing tests comparing Eigen Tensor with Taco and the Taco computation is 50-100% slower.  Is there any interest in supporting an effort to add codegen for backends like Eigen or Fastor to Taco?

[2020-10-29 14:52] stephenchouca commented on #330
That's because `=` for modifying individual tensor elements is actually technically more like `+=`, so when you do `B(i,j) = 2` that actually *increments* every element by 2. It would be nice if TACO can support `=` that overwrites existing elements, but the problem is that we currently don't have a way to generate code that'd be needed to efficiently support this semantics. (I believe @RawnH's wo

[2020-10-29 16:29] Infinoid commented on #330
Oh ok, thanks.  If I hadn't reused the same input buffers, it would have worked fine.

[2020-11-03 21:49] Infinoid commented on #324
I dug into this a bit.

Tensor objects have names, names are specified by the application developer and there's no guarantee that the names are unique.  However, TACO's internals rely on the names being unique.  The `AccessNode` objects keep track of the tensor they access using a `TensorVar` object, and `TensorVar` only has a name, type, format and schedule.  These names are used to build MergeLa

[2020-11-16 20:20] #271 closed

[2020-11-16 20:21] #324 closed

[2020-11-29 07:37] roastduck opened #336 "Help wanted on the "split" schedule"
I tried to compile the following schedule with the command line tool:

[code]

It failed with the message "The index statement is not valid concrete index notation: all variables in concrete notation must be bound by a forall statement". What does that mean? What is a forall statement?

However, if I change `i` to be `j`, the following schedule works fine and outputs the target code:

[code]

Are

[2020-12-02 01:09] RSenApps commented on #336
Unfortunately I wasn't able to reproduce the issue:
[code]

This is on Ubuntu 18.04 with gcc 7.5.0 and the latest commit hash 0a62520f72b210fefc7978fc9c36aecea84bd8d9. Could you provide similar instructions for how to reproduce your build of taco? You can also try to use the web demo in the meantime http://tensor-compiler.org/codegen.html

[2020-12-02 01:57] roastduck commented on #336
I found that I failed only with `-DCUDA=ON` option on for cmake. I can run without problems after turning this option off.

Tested with Debian 10, GCC 8.3.0, CUDA 10.2, at commit 0a62520.

[2020-12-02 05:52] roastduck commented on #98
Hello, and I'm wondering what's the status here?

I see `uint8_t` is used in `taco_tensor_t::indices`. Does it mean I can only use at most 256 non-zero elements in a CSR matrix?

Besides, why do `init_taco_tensor_t` initialize the `indices` field also for dense mode? I don't think a dense mode will use the indices.

[2020-12-04 03:08] roastduck opened #337 "GPU schedule generated unused threads?"
I tiled a dense GEMM into 32x32 tiles, with each tile mapped to a GPU block, and each element in a tile mapped to a GPU thread. I expect the GPU block dimension to be 32x32=1024, but it came to be 32x33=1056 as below:

[code]

The code is generated using the [web API](http://tensor-compiler.org/codegen.html) just now.

Do we really need those extra 32 threads?

[2020-12-04 03:10] roastduck commented on #336
Ping @RSenApps. Can you reproduce the issue with `-DCUDA=ON`?

[2020-12-04 17:11] RSenApps commented on #336
Thanks for the information and reporting the issue, I was able to reproduce and fix with commit 486cd9f464e2d8f603cf3b3caf749c6389d378f4

[2020-12-04 17:11] #336 closed

[2020-12-04 17:12] #337 closed

[2020-12-04 17:13] RSenApps commented on #337
Thanks for pointing this out as well! I'm surprised that I never noticed this issue. It should be fixed now.

[2020-12-05 06:38] roastduck opened #338 "Incorrect GPU grid dimension"
I tiled a n x m matrix into 32 x 32 tiles, with each tile mapped to a GPU block, and each element in a tile mapped to a GPU thread. There should be `ceil(n / 32) * ceil(m / 32) = ((n + 31) / 32) * (m + 31) / 32))` blocks. However, TACO generates `(n + 31) / 32) * (m + 31) / 32)` blocks. Please note those parentheses: `((1024 + 31) / 32) * (1024 + 31) / 32)) = 1024`, while `(1024 + 31) / 32 * (1024

[2020-12-06 23:00] #338 closed

[2020-12-07 06:13] ByzanTine commented on #274
Hi, I am still having the issue above, I am building with gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.12).

[2020-12-07 14:42] Infinoid commented on #274
@ByzanTine Thanks, you are right.

I made an ubuntu:16.04 docker container and tried to build, and got the same issue.  Adding `this->` fixes it.  I see the failures in the scheduling tests that @dongxiao92 mentioned, too.  Those can be fixed by changing `{Dense}` to `Format({Dense})`.

I will post a patch to fix it.

[2020-12-07 14:51] Infinoid commented on #316
I also see this failure on ubuntu 16.04 with gcc/libgomp1 version 5.4.0.

[2020-12-07 15:36] #274 closed

[2020-12-08 07:46] trevor-vincent opened #341 "taco -cuda doesn't always produce cuda code"
Thank you for the cool library! Here is an issue I ran into:

taco "a(i,j) = c(n)*B(i,j,n) "  -cuda

produces cuda code

taco "a(i,j) = c(n)*B(n,i,j)" -cuda

produces C++ code

[2020-12-08 23:46] RSenApps commented on #341
TACO by default attempts to use a simple parallel schedule to generate CUDA code which is to parallelize the outer loop over GPU blocks and threads. However this schedule is not very efficient for most cases (especially on GPU) and so usually we expect the user to use the scheduling language to write a correct schedule.

In this case, TACO doesn't parallelize your code because it uses the default

[2020-12-09 06:22] ByzanTine opened #342 "Pytaco API: Bad operand type for unary -: 'tensor'"
I am simply doing

[code]

Any hassle on supporting the unary operator?

[2020-12-09 16:39] Infinoid opened #344 "mixing compilers results in openmp test failures"
Taco defaults to compiling application code with `cc`, but this can cause some bad results when Taco itself was built with clang.

When I build Taco with clang 10, but let it build application code with the default (gcc), it fails this test:
[code]

But when the compilers match, the test passes:
[code]

So setting `TACO_CC=clang-10` works fine.  Building/running taco with gcc works fine.  Building

[2020-12-09 16:47] Infinoid commented on #344
For posterity, this was on debian bullseye (testing).  Here are some compiler versions:

[code]

And some library versions:
[code]

[2020-12-09 17:53] Infinoid commented on #342
What result would you expect?

The unary operator is defined on index expressions.

Example 1:
[code]

Output:
[code]

Example 2:
[code]

Output:
[code]

[2020-12-09 18:46] Infinoid commented on #316
This is definitely not the right fix... it causes other tests to fail.

[2020-12-09 19:15] trevor-vincent commented on #341
Thanks for the detailed answer!

[2020-12-09 19:15] #341 closed

[2020-12-09 21:01] ByzanTine commented on #342
Thanks for the reply, I was expecting all values in the tensor to be negated, e.g like numpy API, where
[code]

[2020-12-09 21:24] Infinoid commented on #342
You can do that with index notation.  Taco is much more explicit about indexes than numpy is.

[code]

Output:
[code]

[2020-12-09 21:49] ByzanTine commented on #342
Ofc, index notation works, but from a user perspective, dealing a negation directly with indices sounds cumbersome?
FWIW, currently, in our code, we were hacking like:

`setattr(pt.tensor, '__neg__', lambda x: 0 - x)
`

[2020-12-09 21:58] Infinoid commented on #342
Yeah, I see what you mean.

We've been talking about adding tensor-level operations, so that the syntax would look more like linear algebra... you could add or multiply vectors or matrices together without worrying about the indexes.  Unary negation of a tensor would be something we add at the same time.

[2020-12-10 03:22] RawnH commented on #342
Ah I don't think I overloaded negation in PyTaco. I can take a look at adding that since I think it should be quick.

Some operand in PyTaco emulate numpy behavior already by creating index notation for the user. I can add one for negation as well.

[2020-12-10 13:43] Infinoid opened #346 "Graceful handling of under-sized sparse tensor shapes"
Taco dies with a fatal exception if input shapes don't line up perfectly.  But I don't think this is always an error.

If I add two matrices together, it works fine if the matrices are 4x4.  But if one of the matrices is empty in the final row, and I save it to a `.tns` file and load it back in, it will now be 4x3.  Now the shapes don't match, and the addition fails.

Here is a program which does

[2020-12-12 09:17] roastduck opened #347 "Exception throwed in "precompute" schedule"
I was trying to run the following schedule:

[code]

It ended up with an error:

[code]

I was running the latest commit (dd62216d2dbdc3d8ab26de0d8aaf076ecd26b9d7). However, the online tool at http://tensor-compiler.org/codegen.html works fine with the same command. Maybe one of the latest commit introduced the bug.

[2020-12-13 07:30] roastduck opened #348 "How to contribute?"
Hello and I want to contribute to taco for some easy bugfixes. I created a PR #334 weeks days ago but got no response. What is the welcome way to contribute some code?

[2020-12-14 10:29] roastduck commented on #347
PS. I think it would be better to display the actual deployed commit ID on the online tool site, so I can fall back to that version if the master branch goes wrong.

[2020-12-14 17:17] stephenchouca commented on #347
It seems like there's a bug with `precompute`. Actually, the code generated by the online tool looks to be incorrect as well:
[code]
For instance, the line `C_vals[jC] = C_vals[jC] + workspace[p0workspace];` for instances references a `p0workspace` that doesn't exist. The online tool simply wasn't catching this bug because it was built as a release build (which disables some internal assertions) r